<!DOCTYPE html>
<html lang="en">

<head>
    <title> {{title}} </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- START: ALL PERSONAL JAVASCRIPTS HERE -->

    <script type="text/javascript" src="../javascripts/workflow_tracker.js"></script>
    <script type="text/javascript" src="../javascripts/actionCenter_support.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">


    <script>
        localStorage.design_editor_state = 'designMINT';
        localStorage.mint_state = 'write';
        localStorage.ini_state = 'write';
    </script>


    <!-- CSS DEPENDENCIES -->
    <style type="text/css" media="screen">
        #editor_design {
            height: 300px;
        }
    </style>
    <!-- END: ALL PERSONAL JAVASCRIPTS HERE -->

    <!-- Bootstrap Core CSS -->
    <link href="/javascripts/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/javascripts/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="/javascripts/dist/css/timeline.css" rel="stylesheet">

    <!-- Toastr CDN -->
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css"/>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>


    <!-- Custom Fonts -->
    <link href="/javascripts/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">


    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css" />-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.10.1/css/bootstrap-tour.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.10.1/js/bootstrap-tour.js"></script>
    <script src="../javascripts/tour.js"></script>


    <script type="text/javascript" src="../javascripts/servosyringe.js"></script>
    <script type="text/javascript" src="../javascripts/editor_support.js"></script>

    <script type="text/javascript" src="../javascripts/handlebars-v4.0.5.js"></script>

    <style>
        body {  padding: 0 !important;  }
    </style>


<!-- *** START: THIS DIVISION WRAPS EVERYTHING *** -->
<div id="wrapper">
    <!-- START: THIS DIV HOSTS THE SIDE AND TOP NAVIGATION BARS -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">

        <!-- START: TOP LEFT HALF OF NAVIGATION BAR; WE CAN PUT OUR FLUIGI LOGOS HERE -->
        <div class="navbar-header">

            <img class="pull-left" height="40" width="40" style="margin-top: 5px; margin-left: 5px;" src="../images/NeptuneLogo.png">
            <a class="navbar-brand" style="font-family: 'Open Sans'"> NEPTUNE </a>
        </div>


    </nav>
    <!-- END: THIS DIV HOSTS THE SIDE AND TOP NAVIGATION BARS -->

    <div class="navbar-default nav-fixed-top"  role="navigation">
        <!--<div class="sidebar-nav navbar-collapse collapseNav">-->
        <ul class="nav" id="side-menu">


            <!-- THIS LINKS TO THE MAIN DASHBOARD -->
            <li style="display: inline-block;">
                <a href="../dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard </a>
            </li>

        </ul>
    </div>
</div>

    </head>

<body>

    <div id="buildContent">
        <!-- PAGE TITLE START -->
        <div class="row">
            <div class="col-lg-12">

                <h1 class="page-header" style="font-family: 'Open Sans'; font-size: 45px; font-weight: normal; line-height: 48px">
                    <i class="fa fa-wrench" aria-hidden="true" style="color: #447294;"></i>
                    Build </h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- PAGE TITLE END -->
        <div class="row" style="align: center;">
            <div class="container">
                <ul class="payment-wizard">
                    <li class="active">
                        <div class="wizard-heading">
                            Hardware Specifications
                            <span class="icon-user"></span>
                        </div>
                        <div class="wizard-content">
                            <p>Volume of liquid to dispense in ml:</p>
                            <input class="btn btn-default" id="liquid" type="text" />
                            <button class="btn btn-default" id="checkVolume">Check volume</button>
                            <br><br>
                            <p>Tolerance of servos:</p>
                            <input class="btn btn-default" id="tolerance" type="text" />
                            <button class="btn btn-default" id="checkTolerance">Check tolerance</button>
                            <br>
                            <button class="btn-green" type="submit" id="specs">Continue</button>
                            <br><br>
                        </div>
                    </li>
                    <li>
                        <div class="wizard-heading">
                            Suggested Servos and Syringe combinations
                            <span class="icon-location"></span>
                        </div>
                        <div class="wizard-content">

                        <p>Feel free to scroll through our options and select a servo and syringe combination:</p>



                            <br>

                            <!--Picture Options-->
                    <div style="text-align: center;">

                        <button class="btn btn-default" href="#myCarousel" data-slide-to="1">
                        <a class="glyphicon glyphicon-usd" style="font-size: 40px;"></a>
                        <!--Lowest cost-->
                        </button>
                            <button class="btn btn-default" href="#myCarousel" data-slide-to="0">
                                <a class="glyphicon glyphicon-star" style="font-size: 40px;"></a>
                                <!--Recommended-->
                            </button>

                            <button class="btn btn-default" href="#myCarousel" data-slide-to="2">
                                <a class="glyphicon glyphicon-wrench" style="font-size: 40px;"></a>
                                <!--Highest tolerance-->
                            </button>
                            <br><br>
                    </div>

                            <div style="padding-left: 20px;" class="col-lg-10 col-lg-offset-1 text-vertical-center">
                                <div id="myCarousel" class="carousel slide" data-interval="false" style=" overflow: hidden; position: relative;">
                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner" role="listbox">
                                        <div class="item active" id="recommended">
                                            <div style="text-align: center;">
                                            <h2 style=" font-size: 30px; font-weight: normal; line-height: 48px;">
                                                    Recommended
                                            </h2>
                                            </div>
                                            <div class="picture">
                                                <img style="margin-left: 100px" src="../images/build/hitec.jpg" width=334px;>
                                                <img src="../images/build/10ml.jpg" width=334px;>
                                            </div>
                                            <div class="texts">
                                                <p>
                                                    The servo has a speed of 0.16sec/60o, and torque of 4.1/57 Kg-cm/Oz-in.
                                                    The Hitec HS-422 Servo Motor is one of the most durable and reliable servos Hitec has ever offered. With its dual iron-oilite bushings, high impact resin gear train and high performance circuitry, the HS-422 features excellent centering and resolution.
                                                </p>
                                                <p>
                                                   <a href="http://www.robotshop.com/en/hitec-hs422-servo-motor.html">Link to Servo</a>
                                                </p>
                                                <p> Also, the 10ml syringe is a reliable size for most microfluidic experiments.</p>
                                            </div>
                                        </div>

                                        <div class="item" id="cost">
                                            <div style="text-align: center;">
                                            <h2 style=" font-size: 30px; font-weight: normal; line-height: 48px;">
                                                Lowest cost
                                            </h2>
                                                </div>
                                            <div class="picture">
                                                <img style="margin-left: 100px" src="../images/build/parallax.jpg" width=334px;>
                                                <img src="../images/build/60ml.jpg" width=334px;>
                                            </div>
                                            <div class="texts">
                                                <p>The Parallax Standard Servo is ideal for adding bidirectional continuous rotation to your robotics projects.
                                                    It has bidirectional continuous rotation, 0 to 50 RPM, with a linear response to PWM for easy
                                                    ramping, and it is easy to interface with any Parallax microcontroller or PWM-capable device.
                                                    It weighs only 1.50 oz (42.5 g) and has 38 oz-in torque at 6 V
                                                </p>
                                                <p>
                                                    <a href="http://www.alliedelec.com/parallax-inc-900-00008/70372373/?mkwid=sabYU23qn&pcrid=30980760979&gclid=CPnt-cWTl84CFQkfhgod2nwHPQ">Link to Servo</a>
                                                </p>
                                                <p> Also, the 60ml syringe is big and cheap, but is not very accurate for microfluidic experiments.</p>
                                            </div>
                                        </div>

                                        <div class="item" id="tolerance">
                                            <div style="text-align: center;">
                                            <h2 style=" font-size: 30px; font-weight: normal; line-height: 48px;">
                                                Highest tolerance
                                            </h2>
                                                </div>
                                            <div class="picture">
                                                <img style="margin-left: 100px" src="../images/build/datan.jpg" width=334px;>
                                                <img src="../images/build/3ml.jpg" width=334px;>
                                            </div>
                                            <div class="texts">
                                                <p>The Datan has one of the highest tolerances and is made by the very reliable comapany Adafruit Industries LLC.
                                                    It weighs only 	0.102 lb (46.27 g) and has the largest torque rated 90.26 / 637.38 oz-in / mNm.
                                                </p>
                                                <p>
                                                    <a href="http://www.digikey.com/product-detail/en/1404/1528-1087-ND/5154662?WT.mc_id=IQ_7595_G_pla5154662&wt.srch=1&wt.medium=cpc&&gclid=CMLWgcWTl84CFcQehgodLEcFeQ">Link to Servo</a>
                                                </p>
                                                <p> Also, the 3ml syringe is very precise for microfluidic experiments.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <br>

                <!-- Left and  right controls -->
                <a id="previous" class="left carousel-control" style="background: none; color: #447294;" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true">     </span>
                    <span class="sr-only">Previous</span>
                </a>
                <br> <br>
                <a id= "next" class="right carousel-control" style="background: none; color: #447294;" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true">     </span>
                    <span class="sr-only">Next</span>
                </a>

                </div>
            </div>
                            <br><br><br>

                            <div class="container">


                            <a data-toggle="modal" data-target="#customHWModal" id="customize">
                                    Didn't see what you wanted? Click here to enter your own specs!
                            </a>

                            <br><br>
                            </div>
                            <!--Dropdown Options-->

                            <p style="font-size: 15px; text-align: right;" >Pick your selected hardware to add to the purchase list  :
                                <select id="servoSyringe" class="selectpicker btn btn-green">
                                    <option>Recommended</option>
                                    <option>Lowest cost</option>
                                    <option>Highest tolerance</option>
                                    <option>Custom hardware</option>
                                </select></p>
                            <button class="btn-green done" type="submit">Continue</button>

                            <br><br>
                        </div>
                    </li>
                    <li>
                        <div class="wizard-heading">
                            Build Summary
                            <span class="icon-summary"></span>
                        </div>
                        <div class="wizard-content">
                            <p>Please download your SVG file, if you haven't already, so that you can CNC mill your chip.
                                We also provide you with a zip file of parts that you need to 3D Print.
                                Finally, we generate an ordering list for other miscellaneous parts that you will need for the setup.
                            </p>
                            <div style="text-align: center;">
                            <a href="download/../uploads/Build_Verify/buildSVG.svg" download="mySVG.svg">
                                <button class="btn btn-primary">
                                    Download SVG
                                </button>
                            </a>
                          <a href="../parametric">  <button class="btn btn-primary" id="get3DParts">Download 3D Printing Files</button></a>
                            <button class="btn btn-primary" id="getParts">Download Ordering List</button>
                                </div>
                            <br><br>
                            <div style="text-align: center;">
                            <textarea disabled id="orderList" style="display:none"> </textarea>
                            <br><br><br>
                                </div>

                            <button class="btn-green done" type="submit">Continue</button>
                            <br><br>
                        </div>
                    </li>
                    <li>
                        <div class="wizard-heading">
                            Ready?
                            <span class="icon-mode"></span>
                        </div>
                        <div class="wizard-content">
                            <p> Feel free to go back and change any of your selections!
                                If not, then proceed to assembly where we'll teach you how to put everything together.</p>
                            <a href="../assembly"><button class="btn-green">Proceed to Assembly</button></a>
                        </div>
                    </li>
                </ul>
            </div>


                <!-- /.nav-second-level -->
        </div>

    </div>
    <!-- END: PAGE WRAPER -->

</div>

    <!--<div id="findJSON" class="modal fade" role="dialog">-->
    <!--<div class="modal-dialog">-->
    <!--&lt;!&ndash; Modal content&ndash;&gt;-->
    <!--<div class="modal-content">-->
    <!--<div class="modal-header">-->
    <!--<h4 class="modal-title">Locate Design Schematic </h4>-->
    <!--</div>-->
    <!--<div class="modal-body">-->
    <!--<div class="form-group">-->
    <!--<label for="json_in">Enter JSON location:</label>-->
    <!--<input type="text" class="form-control" id="json_in">-->
    <!--</div>-->

    <!--Enter full file path to your project folder, for example:-->

    <!--C:/home/Documents/Numptune/myProject/-->

    <!--</div>-->
    <!--<div class="modal-footer">-->
    <!--&lt;!&ndash;<button type="button" class="btn btn-default" data-dismiss="modal" onclick="setNewSession();" > Start New Session </button>&ndash;&gt;-->
    <!--<button type="button" class="btn btn-default" data-dismiss="modal" onclick="pushJSON()"> Load  </button>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<script type="text/javascript">-->
    <!--//-->
    <!--$(document).ready(function()-->
    <!--{-->
    <!--//document.getElementById("json_in").value = localStorage.JSON_CONTROL;-->
    <!--$('#findJSON').modal('show');-->
    <!--});-->

    <!--function pushJSON()-->
    <!--{-->
    <!--localStorage.PRIYA_VAR = document.getElementById("json_in").value;-->
    <!--}-->
    <!--</script>-->

    <!-- Modal -->
    <div id="setProject_build" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Choose your project.</h4>
                </div>

                <div class="modal-body" id="project_select_build"> </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="nameProject();" data-target=".bd-example-modal-sm"> New Project </button>
                    <!--<button type="button" class="btn btn-default" data-dismiss="modal" "> Load Project</button>-->
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function workspace_set()
        {
            $.post('/api/getProjects',{workspace:localStorage.WORKSPACE},function(data,error)
            {
                var json_dir = [];
                var length = data.projects.length;
                for(var i = 0; i < length; i++)
                {
                    var single_stage = {directory:data.projects[i]};
                    json_dir.push(single_stage);
                }
                render_projects(json_dir);
            });

            $('#setProject_build').modal('show');
        }
        $(document).ready(workspace_set);
    </script>
    <script type="text/javascript">
        function render_projects(json)
        {
            $.get('../javascripts/project_select_template.hbs', function (data)
            {
                var template = Handlebars.compile(data);
                var myhtml = template(json);
                $("#project_select_build").html(myhtml);

            },'html');
        }
    </script>


    <!-- Modal -->
    <div id="customHWModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Custom Hardware Setup</h4>
                </div>
                <div class="modal-body">
                    <p>
                        For Neptune, we require that you choose a syringe with volume between 0-100ml, and a servo with tolerance greater than 25 microliters.
                    </p>
                    <textarea disabled style="resize: none; width: 450px; border: none; height: 40px; background-color: white; " id="suggestion">
                    </textarea>
                    <p>
                        Once you choose your custom hardware, please answer all of the following questions below to proceed:
                    </p>
                    <br>
                    <div id="syringeDetails" style="display:inline-block;">
                        <div class="col-md-8">
                            <h4>Syringe</h4>
                            <p>1. Diameter of syringe in mm:
                            <input class="btn btn-default" id="diameter" type="text" />
                            </p>

                            <p>2. Length in mm between 1 ml:
                            <input class="btn btn-default" id="length" type="text"/>
                            </p>

                            <p>3. Diameter of the innner head of syringe in mm:
                            <input class="btn btn-default" id="diameterInner" type="text" />
                            </p>
                        </div>

                        <div class="col-md-4">
                            <br>
                            <img src="../images/build/syringeMeasure.jpg" height="180px">
                        </div>

                    </div>
                    <div id="syringeDetails" style="display:inline-block;">
                        <div class="col-md-8">
                            <h4>Servo </h4>
                        <p>1. Width of servo in mm:
                        <input class="btn btn-default" id="width" type="text" />
                        </p>

                        <p>2. Height of servo in mm:
                        <input class="btn btn-default" id="height" type="text" />
                        </p>

                        <p>3. Distance holes are apart in mm:
                        <input class="btn btn-default" id="distanceHoles" type="text"/>
                        </p>

                        <p>4. Diameter of holes in mm:
                        <input class="btn btn-default" id="diameterHoles" type="text" />
                        </p>

                        <p>5. Length of extended servo in mm:
                        <input class="btn btn-default" id="extendedLength" type="text"/>
                        </p>

                        <p>6. Torque at 5V (from datasheet):
                        <input class="btn btn-default" id="torque" type="text" />
                        </p>

                        <p>7. Limit angle (from datasheet):
                        <input class="btn btn-default" id="angle" type="text" />
                        </p>
                        </div>
                        <div class="col-md-4">
                            <br>
                            <img src="../images/build/servoMeasure.jpg" height="350px">
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"> Save </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"> Back to Home</button>
                </div>
            </div>
        </div>

    </div>

<!-- *** END: THIS DIVISION WRAPS EVERYTHING *** -->


<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css"/>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script type="text/javascript">
    $(window).load(function(){
        $(".done").click(function(){
            var this_li_ind = $(this).parent().parent("li").index();
            if($('.payment-wizard li').hasClass("jump-here")){
                $(this).parent().parent("li").removeClass("active").addClass("completed");
                $(this).parent(".wizard-content").slideUp();
                $('.payment-wizard li.jump-here').removeClass("jump-here");
            }else{
                $(this).parent().parent("li").removeClass("active").addClass("completed");
                $(this).parent(".wizard-content").slideUp();
                $(this).parent().parent("li").next("li:not('.completed')").addClass('active').children('.wizard-content').slideDown();
            }
        });

        $('.payment-wizard li .wizard-heading').click(function(){
            if($(this).parent().hasClass('completed')){
                var this_li_ind = $(this).parent("li").index();
                var li_ind = $('.payment-wizard li.active').index();
                if(this_li_ind < li_ind){
                    $('.payment-wizard li.active').addClass("jump-here");
                }
                $(this).parent().addClass('active').removeClass('completed');
                $(this).siblings('.wizard-content').slideDown();
            }
        });

        $('#getParts').click(function(){
            var liquid = $('#liquid').val();
            var tolerance= $('#tolerance').val();
            var combo = $('#servoSyringe').find(":selected").text();
            if (combo=="Recommended"){
                localStorage.syringe= 10;
                localStorage.servo= 'Hitec';
            }
            else if (combo=="Lowest cost"){
                localStorage.syringe= 60;
                localStorage.servo= 'Parallax';
            }
            else if (combo=="Highest tolerance"){
                localStorage.syringe= 3;
                localStorage.servo= 'Datan';
            }
            else {
                //Custom
                localStorage.syringe= 'custom';
                localStorage.servo= 'custom';

            }
            $('#orderList').val(
                    'Quantity, Item, Explanation, Link' +'\n'
                    +'Electric components,,,' +'\n'
                    + '1, Arduino Control Shield,'+ 'To connect and power multiple servos' +'\n'
                    + '1, Arduino Uno,'+ 'To control the microfluidic chip' +'\n'
                    + '1, Power plugin for the arduino board,'+ 'For powering the servos' +'\n'
                    + '1, Capacitor,'+ 'To prevent the servos from getting too much power' +'\n'
                    + '1, Connecting Wires,'+ 'To connect the servos to the arduino' +'\n'
                    + '1, Arduino Uno,'+ 'To control the microfluidic chip' +'\n'
                    + '1, Stacking headers,'+ 'To connect the servo wires to the arduino' +'\n'
                    + '1, Laptop power supply,'+ 'To power the servos' +'\n'

                    +'Servo and syringe components,,,' +'\n'
                    + localStorage.pumps +',' + localStorage.syringe + 'ml Syringes, To push liquids and open/close valves' +'\n'
                    + localStorage.pumps +',' + localStorage.servo + ' servos, To open and close syringes' +'\n'
                    + localStorage.pumps*5 +', Machine Screw: 4-40 5/8",' + 'For screwing in servo and syringe attachment' +'\n'
                    + localStorage.pumps*1 + ', Small machine screw,' + 'For screwing in servo arm' +'\n'
                    + localStorage.pumps*1 +', Small nut,' + 'For screwing in servo arm' +'\n'
                    + localStorage.pumps*5 +', Nut: 4-40,' + 'For screwing in servo and syringe' +'\n'

                    +'Hardware components,,,' +'\n'
                    + '1, CNC Mill,'+ 'To create the microfluidic chip' +'\n'
                    + '1, 3D Printer,'+ 'To build the setup to control the microfluidic chip' +'\n'
                    + '1, 3D Printing material roll,' + 'For 3D printing setup' +'\n'
                    + '1, 3D Printing support roll,' + 'For 3D printing setup' +'\n'
                    + '2, 1/4 inch polycarbonate sheet,' + 'For microfluidic chip' +'\n'
                    + '1, 1/4 inch endmill,'+ 'For CNC mill' +'\n'
                    + localStorage.pumps*6 + ', Woodscrews 29 8-1",' + 'For mounting onto board' +'\n'

                    +'Optional components,,,' +'\n'
                    + '1, Peristaltic pump,'+ 'To pump fluids through the microfluidic chip' +'\n'
                    + '2, Machine Screw: 4-40 5/8",' + 'For screwing in the peristaltic pump' +'\n'
                    + '2, Nut: 4-40,' + 'For screwing in the peristaltic pump' +'\n'
            );
            var a = document.createElement('a');
            with (a) {
                href='data:text/csv;base64,' + btoa(document.getElementById('orderList').value);
                download='orderlist.csv';
            }
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);
        });

        $('#checkVolume').click(function(){
            var liquid = $('#liquid').val();
            if (liquid<=0 || liquid >100) {
                toastr.warning('Volume of liquid must be between 0 and 100! Please enter again.');
            }
            else {
                toastr.info('Volume value accepted.');
            }
        });
        $('#checkTolerance').click(function(){
            var tolerance = $('#tolerance').val();
            if (tolerance<0) {
                toastr.warning('Tolerance must be greater than 0.1! Please enter again.');
            }
            else {
                toastr.info('Tolerance value accepted.');
            }
        });

        $('#specs').click(function(){
            var tolerance = $('#tolerance').val();
            var liquid = $('#liquid').val();
            localStorage.precision= tolerance;
            localStorage.volume = liquid;
            if (liquid<=0 || liquid >100 || tolerance<0) {
                toastr.warning('Error! Please enter values to proceed');
            }
            else {
                var this_li_ind = $(this).parent().parent("li").index();
                if($('.payment-wizard li').hasClass("jump-here")){
                    $(this).parent().parent("li").removeClass("active").addClass("completed");
                    $(this).parent(".wizard-content").slideUp();
                    $('.payment-wizard li.jump-here').removeClass("jump-here");
                }else{
                    $(this).parent().parent("li").removeClass("active").addClass("completed");
                    $(this).parent(".wizard-content").slideUp();
                    $(this).parent().parent("li").next("li:not('.completed')").addClass('active').children('.wizard-content').slideDown();
                }
            }
            calculateRecommended();
        });

        $('#customize').click(function(){
            var tolerance = $('#tolerance').val();
            var liquid = $('#liquid').val();
            if (liquid>=0 && liquid <10) {
               $('#suggestion').val('Suggestion: Choose a 10ml syringe and a servo with '+tolerance+ ' tolerance.');
            }
            else if (liquid>=10 && liquid <25){
                $('#suggestion').val('Suggestion: Choose a 25ml syringe and a servo with '+tolerance+ ' tolerance.');
            }
            else if (liquid>=25 && liquid <50){
                $('#suggestion').val('Suggestion: Choose a 50ml syringe and a servo with '+tolerance+ ' tolerance.');
            }
            else{
                $('#suggestion').val('Suggestion: Choose a 100ml syringe and a servo with '+tolerance+ ' tolerance.');
            }


        });


    })
</script>




<style>
    body{float: left; align: center; width: 100%; font-family: 'Open Sans'}
    *{margin: 0; padding: 0; box-sizing: border-box;}
    :focus{outline: none;}
    a{text-decoration: none;}
    li{list-style: none;}
    h1{font-size: 24px; font-weight: 600; margin: 20px 0 10px; text-align: center;}
    .container{align: center; max-width: 80%; }
    /*= wizard css =*/
    .payment-wizard{float: left; width: 100%;}
    .payment-wizard li.active{position: relative; z-index: 1;}
    .wizard-heading{float: left; width: 100%; padding: 10px 15px; background-color: #fafafa; margin-bottom: 1px; box-sizing: border-box; font-size: 18px; color: #4c4c4c; text-transform: uppercase; transition: 0.3s;}
    .wizard-content{display: none; float: left; width: 100%; background-color: #fff; box-shadow: 0 8px 8px #d2d2d2; padding: 15px; box-sizing: border-box;}
    li:first-child .wizard-content{display: block;}
    .wizard-content p{margin-bottom: 15px; font-size: 15px; line-height: 26px; color: #4c4c4c;}
    .btn-green{color: #fff; float: right; border: 0; padding: 7px 10px; min-width: 92px; z-index: 1; cursor: pointer; font-size: 14px; text-transform: uppercase; background-color: #5fba57; border-radius: 3px; border-bottom: 3px solid #289422; position: relative; transition: 0.3s;}
    .btn-green:before{content: ""; width: 100%; height: 0; border-radius: 3px; z-index: -1; position: absolute; left: 0; bottom: 0; background-color: #289422; transition: 0.3s;}
    .btn-green:hover:before{height: 100%;}
    /*.wizard-heading span{float: right; background-image: url(http://usingcss3.com/wp-content/uploads/2016/02/wizard-icons.png); background-repeat: no-repeat;}*/
    .icon-user{width: 20px; height: 18px; background-position: 0 -40px; margin-top: 4px;}
    .icon-location{width: 15px; height: 20px; background-position: -22px -42px; margin-top: 4px;}
    .icon-summary{width: 20px; height: 20px; background-position: -39px -42px; margin-top: 4px;}
    .icon-mode{width: 20px; height: 16px; background-position: -61px -34px; margin-top: 6px;}
    .active .wizard-heading{background-color: #447294; color: #fff; margin-bottom: 0;}
    .active .icon-user{background-position: 0 0;}
    .active .icon-location{background-position: -22px 0;}
    .active .icon-summary{background-position: -39px 0;}
    .active .icon-mode{background-position: -61px 0;}
    .completed .wizard-heading{color: #447294; position: relative; padding: 10px 15px 10px 36px; cursor: pointer; transition: 0.3s;}
    .completed .wizard-heading:before{content: "✓"; color: limegreen; text-align: center; font-size: 15px; font-weight: bold; position: absolute; min-height: 22px; left: -7px; top: 8px; width: 32px; padding: 4px 0; background-color: #447294; z-index: 99;}
    .completed .wizard-heading:after{content: ""; position: absolute; top: 38px; left: -7px; border-left: 7px solid transparent; border-top: 5px solid #001e34;}
    .completed .icon-user{background-position: 0 -20px;}
    .completed .icon-location{background-position: -22px -21px;}
    .completed .icon-summary{background-position: -39px -21px;}
    .completed .icon-mode{background-position: -61px -17px;}
    /*= wizard end =*/
    /* device-screen */
    @media only screen and (max-width: 960px){
        .hide-on-device{display: none;}
    }
    @media only screen and (max-width: 650px){
        .wizard-heading{font-size: 15px;}
        .wizard-content p{font-size: 13px; line-height: 20px; margin-bottom: 10px;}
    }

    @media (min-width: 800px) {
        .modal-dialog {
            width: 55%;
            margin: 30px auto;
        }
    }
    /* device-screen end */

    /*body {*/
        /*background-position-y: 90px;*/
        /*background-image: url("../images/build/bg.jpg");*/
        /*background-repeat: no-repeat;*/
        /*background-size: 100% auto;*/
    /*}*/

    #myCarousel {
        border-radius: 8px;
        /*border: none;*/
        align: center;

    }

    .carousel {
        /*overflow-x: hidden;*/
        /*overflow-y: hidden;*/
        float: center;
        display: block;
        white-space: nowrap;
    }

    #myCarousel .picture {
        margin-left:10px;
        float: left;
        display: inline-block;
        margin: 14px;
        word-wrap: normal;
        word-break: normal;
        white-space: normal;
        overflow: hidden;
        text-align: center;
    }

    #myCarousel .texts {
        margin-left:10px;
        /*width: 500px;*/
        /*height: 500px;*/
        float: left;
        display: inline-block;
        margin: 14px;
        word-wrap: normal;
        word-break: normal;
        white-space: normal;
        overflow: hidden;
        text-align: center;
    }


</style>


<!-- *** START: DEPENDENCIES *** -->
<!-- jQuery -->
<script src="/javascripts/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="/javascripts/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Metis Menu Plugin JavaScript -->
<script src="/javascripts/bower_components/metisMenu/dist/metisMenu.min.js"></script>
<!-- Morris Charts JavaScript -->
<script src="/javascripts/bower_components/raphael/raphael-min.js"></script>
<script src="/javascripts/bower_components/morrisjs/morris.min.js"></script>

<!-- *** END: DEPENDENCIES *** -->

</body>


</html>