<!DOCTYPE html>
<html lang="en" style="padding: 0px !important;">

<head>

    <script src="../javascripts/uploadsJSON.js" type="application/javascript"></script>
    <script>loadButtons();</script>


    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>-->
    <!--<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>-->



    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- START: ALL PERSONAL JAVASCRIPTS HERE -->
    <script type="text/javascript" src="../javascripts/workflow_tracker.js"></script>
    <script type="text/javascript" src="../javascripts/actionCenter_support.js"></script>


    <!-- JAVASCRIPT DEPENDENCIES -->
    <!--<script type="text/javascript" src="../javascripts/editor_support.js"></script>-->

    <!-- CSS DEPENDENCIES -->
    <style type="text/css" media="screen">
        #editor_design {
            height: 300px;
        }
    </style>
    <!-- END: ALL PERSONAL JAVASCRIPTS HERE -->


    <!-- MetisMenu CSS -->
    <link href="/javascripts/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">


    <!-- Custom CSS -->
    <link href="/javascripts/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Toastr CDN -->
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css"/>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    <!-- Custom Fonts -->
    <link href="/javascripts/bower_components/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->









    <link rel="stylesheet" href="http://cdn.webix.com/edge/webix.css" type="text/css">
    <script src="http://cdn.webix.com/edge/webix.js" type="text/javascript"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!--<link rel="stylesheet" type="text/css" href="../stylesheets/main_fluigi.css" />-->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap-tour/0.10.3/css/bootstrap-tour-standalone.min.css">
    <!--<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.css">-->
    <!--<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>-->




    <!--3Duf Dependencies-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <script src="../lib/nouislider/nouislider.min.js"></script>
    <script src="../lib/paper/paper-full.min.js"></script>
    <script src="../lib/filesaver/FileSaver.min.js"></script>
    <script src="../lib/three/three.min.js"></script>

    <link rel="stylesheet" href="../lib/nouislider/nouislider.min.css">

    <!--<link rel="stylesheet" href="../lib/material/material.min.css">-->
    <!--<script src="../lib/material/material.min.js"></script>-->
    <!--<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">-->

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!--<link rel="stylesheet" href="../modified.css">-->






    <script type="text/javascript" src="../javascripts/serialcommunication.js"></script>
    <script type="text/javascript" src="../javascripts/fluigipage.js" > </script>
    <script type="text/javascript" src="../javascripts/initiate_data.js"></script>


    <!--Template for valves to be placed over graph canvas-->
    <template id="valve-template" action="this.preventDefault();">
        <div class ="valve"  action="this.preventDefault();">
            <a class="valve_marker" style="padding-left: 0px; padding-top: 0px;" action="this.preventDefault();">
                <img class="valve_color" action="this.preventDefault();" src="../images/fluigi/valveMarkerOpen.svg" width="40" height="40">
                <p class="IDtext" style="pointer-events: none;">beb</p>
            </a>

        </div>
    </template>



    <!--Template for valves to be placed over graph canvas-->
    <template id="dispenser-template" action="this.preventDefault();">
        <div class ="valve"  action="this.preventDefault();">
            <a class="valve_marker" style="padding-left: 0px; padding-top: 0px;" action="this.preventDefault();">
                <img class="valve_color" action="this.preventDefault();" src="../images/fluigi/dispenseMarker.svg" width="40" height="40">
                <p class="IDtext" style="pointer-events: none;">beb</p>
            </a>

        </div>
    </template>




    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css"/>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    <!--Walkthrough tour-->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.10.1/css/bootstrap-tour.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.10.1/js/bootstrap-tour.js"></script>
    <script src="../javascripts/tour.js"></script>
    <script type="text/javascript" src="../javascripts/editor_support.js"></script>








</head>

<body style="padding: 0px;">

<!-- *** START: THIS DIVISION WRAPS EVERYTHING *** -->
<div id="wrapper">

    <!-- START: THIS DIV HOSTS THE SIDE AND TOP NAVIGATION BARS -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">

        <!-- START: TOP LEFT HALF OF NAVIGATION BAR; WE CAN PUT OUR FLUIGI LOGOS HERE -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img class="pull-left" height="40" width="40" style="margin-top: 5px; margin-left: 5px;" src="../images/NeptuneLogo.png">
            <a class="navbar-brand" style="font-family: 'Open Sans'"> NEPTUNE </a>
        </div>



        <!--<style>-->
        <!--.collapseNav {-->
        <!--display: none;-->
        <!--}-->
        <!--<ul class="nav navbar-top-links navbar-right">-->



        <!--<li style="display:inline-block !important;">-->
        <!--<a onclick="loadButtons();">-->
        <!--<i class="fa fa-dot-circle-o fa-fw"></i></a>-->
        <!--</li>-->


        <!--<li style="display:inline-block !important;">-->
        <!--<a onclick= "window.open('../serialcommunication')">-->
        <!--<i class="fa fa-usb fa-fw"></i></a>-->
        <!--</li>-->



        <!--<li style="display:inline-block !important;">-->
        <!--<a onclick="settingsButtonPressed();">-->
        <!--<i class="fa fa-cogs fa-fw"></i></a>-->
        <!--</li>-->







        <!--<li style="display:inline-block !important;">-->
        <!--<div id= "upload_bar" class="uploadbar">-->
        <!--<div>-->

        <!--<form id="uploadForm"-->
        <!--enctype="multipart/form-data"-->
        <!--action="/api/build_JSON"-->
        <!--method="post">-->
        <!--<div id="div1" style="display:inline-block !important;"><input id= "inputfile_JSON" class="btn btn-default" type="file" name="buildJSON"/></div>-->

        <!--<div id="div3" style="display:inline-block !important;">-->
        <!--<input id="uploadfile" class= "btn btn-default" type="submit" value="Upload JSON" name="submit" >-->
        <!--<span id = "status"></span>-->
        <!--</div>-->

        <!--</form>-->
        <!--</div>-->
        <!--</div>-->

        <!--</li>-->






        <!--<li style="display:inline-block !important;">-->
        <!--<a>-->
        <!--<label>-->
        <!--<i class="fa fa-upload fa-fw">-->
        <!--<input type="file" style="display: none;">-->
        <!--</i>-->
        <!--</label>-->
        <!--</a>-->
        <!--</li>-->


        <!-- START: PROGRESS DROP DOWN MENU -->
        <!--<li class="dropdown" style="display:inline-block !important;">-->
        <!--<a class="dropdown-toggle" data-toggle="dropdown" href="#">-->
        <!--<i class="fa fa-tasks fa-fw"></i>  <i class="fa fa-caret-down"></i>-->
        <!--</a>-->
        <!--<ul class="dropdown-menu dropdown-tasks">-->
        <!--<li>-->
        <!--<a href="#">-->
        <!--<div>-->
        <!--<p>-->
        <!--<strong> Specify Stage </strong>-->
        <!--<span class="pull-right text-muted"> Progress </span>-->
        <!--</p>-->
        <!--<div class="progress progress-striped active">-->
        <!--<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">-->
        <!--<span class="sr-only">40% Complete (success)</span>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</a>-->
        <!--</li>-->
        <!--<li class="divider"></li>-->
        <!--<li>-->
        <!--<a href="#">-->
        <!--<div>-->
        <!--<p>-->
        <!--<strong> Design Stage </strong>-->
        <!--<span class="pull-right text-muted"> Progress </span>-->
        <!--</p>-->
        <!--<div class="progress progress-striped active">-->
        <!--<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">-->
        <!--<span class="sr-only">20% Complete</span>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</a>-->
        <!--</li>-->
        <!--<li class="divider"></li>-->
        <!--<li>-->
        <!--<a href="#">-->
        <!--<div>-->
        <!--<p>-->
        <!--<strong> Build Stage </strong>-->
        <!--<span class="pull-right text-muted"> Progress </span>-->
        <!--</p>-->
        <!--<div class="progress progress-striped active">-->
        <!--<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">-->
        <!--<span class="sr-only">60% Complete (warning)</span>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</a>-->
        <!--</li>-->

        <!--<li class="divider"></li>-->

        <!--</ul>-->
        <!--&lt;!&ndash; /.dropdown-tasks &ndash;&gt;-->
        <!--</li>-->
        <!-- END: PROGRESS DROP DOWN MENU -->


        <!-- START: SETTINGS DROP DOWN MENU -->
        <!--<li class="dropdown" style="display:inline-block !important;">-->
        <!--<a class="dropdown-toggle" data-toggle="dropdown" href="#">-->
        <!--<i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>-->
        <!--</a>-->
        <!--<ul class="dropdown-menu dropdown-user">-->
        <!--<li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>-->
        <!--</li>-->
        <!--<li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>-->
        <!--</li>-->
        <!--<li class="divider"></li>-->
        <!--<li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>-->
        <!--</li>-->
        <!--</ul>-->
        <!--</li>-->
        <!-- END: SETTINGS DROP DOWN MENU -->

        <!--</ul>-->
        <!-- END: TOP RIGHT HALF OF NAVIGATION BAR; WE CAN PUT OUR LOGOUT, SETTINGS, ECT HERE -->


        <style>
            .collapseNav {
                display: none;
            }

            .dropdownHover:hover .collapseNav {
                display: table;
            }
        </style>


        <!-- START: SIDE NAVIGATION BAR -->
        <div class="navbar-default sidebar"  role="navigation">
            <div class="sidebar-nav navbar-collapse collapseNav">
                <ul class="nav" id="side-menu">

                    <!-- THIS LINKS TO HOME -->

                    <li>
                        <a href=""><i class="fa fa-home fa-fw"></i> Home </a>
                    </li>

                    <!-- THIS LINKS TO THE MAIN DASHBOARD -->
                    <li>
                        <a href="../dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard </a>
                    </li>

                    <!-- THESE LINKS PROVIDE USER NAVIGATION THROUGHOUT THE WORKFLOW -->
                    <li>
                        <a href="#"><i class="fa fa-share fa-fw"></i> Jump to Workflow Stage <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="../specify"><i class="fa fa-pencil-square-o  fa-fw"></i> Specify </a>
                            </li>
                            <li>
                                <a href="../design"><i class="fa fa-cogs" aria-hidden="true"></i> Design </a>
                            </li>
                            <li>
                                <a href="../build"><i class="fa fa-briefcase" aria-hidden="true"></i> Build</a>
                            </li>
                            <li>
                                <a href="../assembly"><i class="fa fa-gavel" aria-hidden="true"></i> Assembly</a>
                            </li>
                            <li>
                                <a href="../control"><i class="fa fa-bars" aria-hidden="true"></i> Control</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>

                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- END: SIDE NAVIGATION BAR -->

    </nav>
    <!-- END: THIS DIV HOSTS THE SIDE AND TOP NAVIGATION BARS -->

    <div class="navbar-default nav-fixed-top"  role="navigation">
        <!--<div class="sidebar-nav navbar-collapse collapseNav">-->
        <ul class="nav" id="side-menu">
            <li style="display: inline-block;">
                <a href=""><i class="fa fa-home fa-fw"></i> Home </a>
            </li>

            <!-- THIS LINKS TO THE MAIN DASHBOARD -->
            <li style="display: inline-block;">
                <a href="../dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard </a>
            </li>


            <ul class="nav navbar-top-links navbar-right">

                <li style="display:inline-block !important;">

                    <form id="upload_buildJSON"
                          enctype="multipart/form-data"
                          action="/api/build_JSON"
                          method="post">
                        <div id="select_div" style="display:inline-block !important;">
                            <input id= "selectfile_JSON" class="btn btn-default" type="file" name="buildJSON"/>
                        </div>
                        <div id="upload_div" style="display:inline-block !important;">
                            <input id="uploadfile_JSON" class= "btn btn-default" type="submit" value="Upload JSON" name="submit" >
                            <span id = "status"></span>
                        </div>
                    </form>

                </li>



                <li style="display:inline-block !important;">
                    <a onclick= "window.open('../serialcommunication')">
                        <i class="fa fa-usb fa-fw"></i></a>
                </li>


                <li style="display:inline-block !important;">
                    <!--<a onclick="settingsButtonPressed();">-->
                        <!--<i class="fa fa-cogs fa-fw"></i></a>-->
                    <a>

                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary btn-lg" onclick="drawValveTable(JSON.parse(localStorage.pumpData)); drawDispenserTable(JSON.parse(localStorage.dispenserData));" data-toggle="modal" data-target="#myModal">
                            Initialize
                        </button>


                    </a>



                </li>
            </ul>


        </ul>
        <!--</div>-->
        <!-- /.sidebar-collapse -->
    </div>


    <!-- START: PAGE WRAPER -->
    <div id="page-wrapper" style="padding:0 !important; margin:0 !important;">
        <!-- PAGE TITLE START -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header" style="padding-left: 20px; font-family: 'Open Sans'" > Build and Verify </h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- PAGE TITLE END -->




        <!--<script>-->
        <!--function CreateTableFromJSON() {-->
        <!--var DataToLoad = JSON.parse(localStorage.pumpData);-->

        <!--// EXTRACT VALUE FOR HTML HEADER.-->
        <!--// ('Book ID', 'Book Name', 'Category' and 'Price')-->
        <!--var col = [];-->
        <!--for (var i = 0; i < DataToLoad.length; i++) {-->
        <!--for (var key in DataToLoad[i]) {-->
        <!--if (col.indexOf(key) === -1) {-->
        <!--col.push(key);-->
        <!--}-->
        <!--}-->
        <!--}-->

        <!--// CREATE DYNAMIC TABLE.-->
        <!--var table = document.createElement("table");-->

        <!--// CREATE HTML TABLE HEADER ROW USING THE EXTRACTED HEADERS ABOVE.-->

        <!--var tr = table.insertRow(-1);                   // TABLE ROW.-->

        <!--for (var i = 0; i < col.length; i++) {-->
        <!--var th = document.createElement("th");      // TABLE HEADER.-->
        <!--th.innerHTML = col[i];-->
        <!--tr.appendChild(th);-->
        <!--}-->

        <!--// ADD JSON DATA TO THE TABLE AS ROWS.-->
        <!--for (var i = 0; i < DataToLoad.length; i++) {-->

        <!--tr = table.insertRow(-1);-->

        <!--for (var j = 0; j < col.length; j++) {-->
        <!--var tabCell = tr.insertCell(-1);-->
        <!--tabCell.innerHTML = DataToLoad[i][col[j]];-->
        <!--}-->
        <!--}-->

        <!--// FINALLY ADD THE NEWLY CREATED TABLE WITH JSON DATA TO A CONTAINER.-->
        <!--var divContainer = document.getElementById("showData");-->
        <!--divContainer.innerHTML = "";-->
        <!--divContainer.appendChild(table);-->
        <!--}-->
        <!--</script>-->

        <!--&lt;!&ndash; Button trigger modal &ndash;&gt;-->
        <!--<button type="button" class="btn btn-primary btn-lg" onclick="CreateTableFromJSON()" data-toggle="modal" data-target="#myModal">-->
        <!--Launch pumpInit Modal-->
        <!--</button>-->




        <!--&lt;!&ndash; Modal &ndash;&gt;-->
        <!--<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">-->
        <!--<div class="modal-dialog" role="document">-->
        <!--<div class="modal-content">-->
        <!--<div class="modal-header">-->
        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
        <!--<span aria-hidden="true">&times;</span>-->
        <!--</button>-->
        <!--<h4 class="modal-title" id="myModalLabel">Modal title</h4>-->
        <!--</div>-->
        <!--<div class="modal-body">-->
        <!--<div id="showData"></div>-->
        <!--</div>-->
        <!--<div class="modal-footer">-->
        <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
        <!--<button type="button" class="btn btn-primary">Save changes</button>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->


        <script src="../javascripts/pumpControlInit.js" type="application/javascript"></script>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h2 class="modal-title" id="myModalLabel">Pump Initializations</h2>
                    </div>
                    <div class="modal-body">


                        <div class="editableTable">
                            <h3>Valve Settings</h3>
                            <table id="ValveTable" class="table table-striped">
                                <tr>
                                    <th>Valve Id</th>
                                    <th>Motor Shield</th>
                                    <th>Pin Number</th>
                                    <th>Open</th>
                                    <th>Closed</th>
                                    <th>Current State</th>
                                </tr>
                            </table>
                        </div>

                        <br>

                        <div class="editableTable">
                            <h3>Dispenser Settings</h3>
                            <table id="DispenserTable" class="table table-striped">
                                <tr>
                                    <th>Dispenser Id</th>
                                    <th>Motor Shield</th>
                                    <th>Pin Number</th>
                                    <th>Precision</th>
                                    <th>Min</th>
                                    <th>Max</th>
                                    <th>Current State</th>
                                </tr>
                            </table>
                        </div>



                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-secondary" onclick="setNumberOfPumps_JSON(); setNumberOfDispensers_JSON();">Clear</button>
                        <button id="export-btn" onclick="exporting(); exportingDispenser();" class="btn btn-primary">Save Changes</button>
                    </div>
                </div>
            </div>
        </div>




        <style>
            #canvas_block {
                width: 100% !important;
                height: 100% !important;
            }
            #c {
                width: 100% !important;
                height: 100% !important;
                pointer-events:none;
                /*margin-top: 90px;*/
                overflow-x:hidden;
            }
            .IDtext {
                position: absolute;
                color: white;
                font-weight: bold;
                font-size:20px;
                padding-top:5px;
                padding-left:14px;
                pointer-events: none;
            }
            .valve_color {
                position: absolute;
            }
        </style>



        <div class="row" style="height:100%; width: 98%; margin-right:0px; margin-left: 10px; overflow:hidden">

            <div class=".col-md-12">



                <div>
                    <main >
                        <div id="view_container" class="page-content panel panel-default">
                            <div id="canvas_block" class="shown-block fade-transition " >
                                <canvas id="c" tabindex="0" ></canvas>
                                <!--<script src="../javascripts/fluigiGraph.js" type="application/javascript"></script>-->

                                <!--&lt;!&ndash;This is where valves go!&ndash;&gt;-->
                                <!--<div id="content"></div>-->
                            </div>
                            <!--<div id="renderContainer" class="hidden-block fade-transition"></div>-->
                        </div>
                    </main>

                </div>
            </div>


        </div>
        <!--PAGE CONTENT WRAP END: ALL PAGE CONTENT IS EMBEDDED ABOVE -->

    </div>
    <!-- END: PAGE WRAPER -->

</div>
<!-- *** END: THIS DIVISION WRAPS EVERYTHING *** -->


<!-- *** START: DEPENDENCIES *** -->
<!-- jQuery -->
<script src="/javascripts/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="/javascripts/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Metis Menu Plugin JavaScript -->
<script src="/javascripts/bower_components/metisMenu/dist/metisMenu.min.js"></script>
<!-- Morris Charts JavaScript -->
<script src="/javascripts/bower_components/raphael/raphael-min.js"></script>
<script src="/javascripts/bower_components/morrisjs/morris.min.js"></script>
<!-- Custom Theme JavaScript -->
<script src="/javascripts/dist/js/sb-admin-2.js"></script>
<!-- *** END: DEPENDENCIES *** -->


</body>


<script src="../javascripts/3DuFApp.js"></script>


</html>
