<html>

<head>

    <!--3Duf Dependencies-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <script src="../lib/nouislider/nouislider.min.js"></script>
    <script src="../lib/paper/paper-full.min.js"></script>
    <script src="../lib/filesaver/FileSaver.min.js"></script>
    <script src="../lib/three/three.min.js"></script>

    <link rel="stylesheet" href="../lib/nouislider/nouislider.min.css">

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!--<link rel="stylesheet" href="../stylesheets/modified.css">-->

    <!-- Bootstrap Core CSS -->
    <link href="/javascripts/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS for Page -->
    <link href="../stylesheets/controlFull.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/javascripts/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">


    <!-- Custom CSS -->
    <link href="/javascripts/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Toastr CDN -->
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css"/>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    <!-- Custom Fonts -->
    <link href="/javascripts/bower_components/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">

    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>



    <script src="../javascripts/uploadsJSON.js" type="application/javascript"></script>
    <script>loadButtons();</script>


    <script type="text/javascript" src="../javascripts/serialcommunication.js"></script>
    <script type="text/javascript" src="../javascripts/fluigipage.js" > </script>
    <script type="text/javascript" src="../javascripts/initiate_data.js"></script>


    <!--Template for valves to be placed over graph canvas-->
    <template id="valve-template" action="this.preventDefault();">
        <div class ="valve"  action="this.preventDefault();">
            <a class="valve_marker" style="padding-left: 0px; padding-top: 0px;" action="this.preventDefault();">
                <img class="valve_color" action="this.preventDefault();" src="../images/fluigi/valveMarkerOpen.svg" width="40" height="40">
                <p class="IDtext" style="pointer-events: none;">beb</p>
            </a>

        </div>
    </template>



    <!--Template for valves to be placed over graph canvas-->
    <template id="dispenser-template" action="this.preventDefault();">
        <div class ="valve"  action="this.preventDefault();">
            <a class="valve_marker" style="padding-left: 0px; padding-top: 0px;" action="this.preventDefault();">
                <img class="valve_color" action="this.preventDefault();" src="../images/fluigi/dispenseMarker.svg" width="40" height="40">
                <p class="IDtext" style="pointer-events: none;">beb</p>
            </a>

        </div>
    </template>


    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css"/>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

</head>





<body>

<nav class="navbar navbar-default navbar-static-top navbarFloating" role="navigation" style="margin: 0;">

    <!-- START: TOP LEFT HALF OF NAVIGATION BAR; WE CAN PUT OUR FLUIGI LOGOS HERE -->
    <div class="navbar-header">
        <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">-->
            <!--<span class="sr-only">Toggle navigation</span>-->
            <!--<span class="icon-bar"></span>-->
            <!--<span class="icon-bar"></span>-->
            <!--<span class="icon-bar"></span>-->
        <!--</button>-->
        <img class="pull-left" id="dropdownHover" height="40" width="40" style="margin-top: 5px; margin-left: 5px;" src="../images/NeptuneLogo.png">
        <a class="navbar-brand" style="font-family: 'Open Sans'"> NEPTUNE </a>
    </div>




    <!-- START: SIDE NAVIGATION BAR -->
    <div class="navbar-default sidebar leftFocusedNav"  role="navigation">
        <div class="sidebar-nav navbar-collapse collapseNav">
            <ul class="nav" id="side-menu">

                <!-- THIS LINKS TO HOME -->

                <li>
                    <a href=""><i class="fa fa-home fa-fw"></i> Home </a>
                </li>

                <!-- THIS LINKS TO THE MAIN DASHBOARD -->
                <li>
                    <a href="../dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard </a>
                </li>

                <!-- THESE LINKS PROVIDE USER NAVIGATION THROUGHOUT THE WORKFLOW -->
                <li>
                    <a><i class="fa fa-share fa-fw"></i> Jump to Workflow Stage</a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="../specify"><i class="fa fa-pencil-square-o  fa-fw"></i> Specify </a>
                        </li>
                        <li>
                            <a href="../design"><i class="fa fa-cogs" aria-hidden="true"></i> Design </a>
                        </li>
                        <li>
                            <a href="../build"><i class="fa fa-wrench" aria-hidden="true"></i> Build</a>
                        </li>
                        <li>
                            <a href="../assembly"><i class="fa fa-briefcase" aria-hidden="true"></i> Assembly</a>
                        </li>
                        <li>
                            <a href="../controlFull"><i class="fa fa-bars" aria-hidden="true"></i> Control</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>

            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- END: SIDE NAVIGATION BAR -->

</nav>


<!-- Button trigger modal -->
<!--<button type="button" class="btn btn-primary btn-lg" id="initializationToggle" onclick="drawValveTable(JSON.parse(localStorage.pumpData)); drawDispenserTable(JSON.parse(localStorage.dispenserData));" data-toggle="modal" data-target="#myModal">-->
    <!--Initialize-->
<!--</button>-->

<a onclick="drawValveTable(JSON.parse(localStorage.pumpData)); drawDispenserTable(JSON.parse(localStorage.dispenserData));" data-toggle="modal" data-target="#myModal" id="settingsToggle">
    <i class="fa fa-cog fa-3x"></i>
</a>

<a onclick= "window.open('../serialcommunication')" id="serialCommToggle">
    <i class="fa fa-usb fa-3x"></i>
</a>





<script src="../javascripts/pumpControlInit.js" type="application/javascript"></script>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title" id="myModalLabel">Pump Initializations</h2>
            </div>
            <div class="modal-body">


                <div class="editableTable">
                    <h3>Valve Settings</h3>
                    <table id="ValveTable" class="table table-striped">
                        <tr>
                            <th>Valve Id</th>
                            <th>Motor Shield</th>
                            <th>Pin Number</th>
                            <th>Open</th>
                            <th>Closed</th>
                            <th>Current State</th>
                        </tr>
                    </table>
                </div>

                <br>

                <div class="editableTable">
                    <h3>Dispenser Settings</h3>
                    <table id="DispenserTable" class="table table-striped">
                        <tr>
                            <th>Dispenser Id</th>
                            <th>Motor Shield</th>
                            <th>Pin Number</th>
                            <th>Precision</th>
                            <th>Min</th>
                            <th>Max</th>
                            <th>Current State</th>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-secondary" onclick="setNumberOfPumps_JSON(); setNumberOfDispensers_JSON();">Clear</button>
                <button id="export-btn" onclick="totalExport();" class="btn btn-primary">Save Changes</button>
            </div>
        </div>
    </div>
</div>


<div id="findJSON" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Locate Design Schematic </h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="json_in">Enter JSON location:</label>
                    <input type="text" class="form-control" id="json_in">
                </div>

                Enter full file path to your JSON schematic, for example:

                C:/home/Documents/Numptune/myProject/designJSON.json

            </div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-default" data-dismiss="modal" onclick="setNewSession();" > Start New Session </button>-->
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="pushJSON()"> Load  </button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    //
    $(document).ready(function()
    {
        //document.getElementById("json_in").value = localStorage.JSON_CONTROL;
        $('#findJSON').modal('show');
    });

    function pushJSON()
    {
        localStorage.JSON_CONTROL = document.getElementById("json_in").value;

        $.post('/api/getJSON_forBecca', {jsonpath: localStorage.JSON_CONTROL} ,function()
        {

        });

    }
</script>


<canvas id="c" tabindex="0" resize="true"></canvas>
<!--This is where valves go!-->
<div id="content"></div>



<!--<div id="main_window" class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer-->
            <!--mdl-layout--overlay-drawer-button ">-->
        <!--<main id="fullPage">-->
            <!--<div id="view_container" class="page-content" >-->
                <!--<div id="canvas_block" class="shown-block fade-transition " >-->
                    <!--<canvas id="c" tabindex="0" resize="true"></canvas>-->
                    <!--&lt;!&ndash;This is where valves go!&ndash;&gt;-->
                    <!--<div id="content"></div>-->
                <!--</div>-->
                <!--<div id="renderContainer" class="hidden-block fade-transition"></div>-->
            <!--</div>-->
        <!--</main>-->
<!--</div>-->



<!-- jQuery -->
<script src="/javascripts/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="/javascripts/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Metis Menu Plugin JavaScript -->
<script src="/javascripts/bower_components/metisMenu/dist/metisMenu.min.js"></script>
<!-- Morris Charts JavaScript -->
<script src="/javascripts/bower_components/raphael/raphael-min.js"></script>
<script src="/javascripts/bower_components/morrisjs/morris.min.js"></script>
<!-- Custom Theme JavaScript -->
<script src="/javascripts/dist/js/sb-admin-2.js"></script>
<!-- 3DuF JavaScript -->
<script src="../javascripts/fluigiGraph.js" type="application/javascript"></script>
<script src="../javascripts/3DuFApp.js"></script>






</body>

</html>