<!DOCTYPE html>
<html lang="en" class="home_page">
<head>
    <title>Neptune</title>
    {{> favicon }}
    <link rel="stylesheet" type="text/css" href="../stylesheets/main.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="../javascripts/handlebars-v4.0.5.js"></script>

    <!--Walkthrough tour-->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.10.1/css/bootstrap-tour.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.10.1/js/bootstrap-tour.js"></script>
    <script src="../javascripts/tour.js"></script>

    <link href="../stylesheets/toastr.css" rel="stylesheet"/>
    <script src="../javascripts/toastr.js"></script>
    <script type="text/javascript">
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }</script>

    <script type="text/javascript" src="../javascripts/editor_support.js"></script>
    <script type="text/javascript">
        localStorage.clear();
        localStorage.WORKSPACE = 'C:/Users/kestas/Documents/Neptune'
    </script>
</head>



<body style="background-image:url(../images/index/backgroundImg.png)">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!--Top Bar-->
<div class="topBar">
    <img height= "100" src="../images/index/FluigiButton.png">
    <img height="100" src="../images/index/cidar-backgbround-no-js.png">
    <img height="100" src="../images/index/buLogo.png">

    <!--<a href="../dashboard"> <img class="DASHBOARD" height ="40" src="../images/index/dashboard.svg" > </a>-->

</div>

<header>
    <!--<div class="container">-->
        <div class="row">
            <div style="text-align: center;">
                <a href="../dashboard">
                    <img id="dashboard" style="cursor: pointer; padding-top: 5%; text-align: center;" height="400px" src="../images/NeptuneLogo.png" alt=""
                         onmouseover="this.height='410'" onmouseout="this.height='400'">
                </a>
                <div>
                    <br>
                    <h1  style="font-family: 'Trocchi', serif; font-size: 45px; font-weight: normal; line-height: 48px; color: white;"> Welcome to Neptune </h1>
                    <br><br><br>
                    <a style="cursor:pointer;"><img height= "75" class="myBtn" data-toggle="modal" data-target="#HelpModal" src="../images/index/helpButtonTransparent.png"
                        onmouseover="this.src='../images/index/helpButton.png'" onmouseout="this.src='../images/index/helpButtonTransparent.png'"> </a>
                    <a style="padding-left: 50px;" href="http://cidarlab.org/Fluigi"><img height= "75" class="myBtn" src="../images/index/aboutButtonTransparent.png"
                        onmouseover="this.src='../images/index/aboutButton.png'" onmouseout="this.src='../images/index/aboutButtonTransparent.png'"></a>
                </div>
            </div>
        </div>
    <!--</div>-->
</header>


<!--Main Page-->

    <!--&lt;!&ndash; SPECIFY LINK &ndash;&gt;-->
    <!--<div id="specify"  class="centeredMiddle" >-->
        <!--<div align="center"> <a href="../lfrpage">-->
            <!--<img  height="75" src="../images/index/specify_logo.svg"-->
                  <!--onmouseover="this.height='85'" onmouseout="this.height='75'">-->
        <!--</a>-->
        <!--</div>-->
        <!--<div align="center">-->
            <!--<label style="font-size:40px; color: white; font-family: FontAwesome "> Specify </label>-->
        <!--</div>-->
        <!--<div align="center">-->
            <!--<label style="font-size:15px; color: white; font-family: FontAwesome "> Describe the function of your device. </label>-->
        <!--</div>-->
        <!--<div align="center">-->
            <!--<a class="btn btn-default" role="button" data-toggle="modal" data-target="#lfrModal"> See details </a>-->
        <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash; DESIGN LINK &ndash;&gt;-->
    <!--<div id= "design" class="centeredTop" >-->
        <!--<div align="center"> <a href="../uShroomPage">-->
            <!--<img  height="75" src="../images/index/design_logo.svg"-->
                  <!--onmouseover="this.height='85'" onmouseout="this.height='75'">-->
        <!--</a>-->
        <!--</div>-->
        <!--<div align="center">-->
            <!--<label style="font-size:40px; color: white; font-family: FontAwesome "> Design </label>-->
        <!--</div>-->
        <!--<div align="center">-->
            <!--<label style="font-size:15px; color: white; font-family: FontAwesome "> Create the design schematic of your device </label>-->
        <!--</div>-->
        <!--<div align="center">-->
            <!--<a class="btn btn-default" role="button" data-toggle="modal" data-target="#fluigiModal"> See details </a>-->
        <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash; BUILD & VERIFY LINK &ndash;&gt;-->
    <!--<div id="buildverify" class="centeredBottom">-->
        <!--<div align="center"> <a href="../fluigipage">-->
            <!--<img  height= "75" src="../images/index/build_logo.svg" onmouseover="this.height='85'" onmouseout="this.height='75'">-->
        <!--</a>-->
        <!--</div>-->
        <!--<div align="center">-->
            <!--<label style="font-size:40px; color: white; font-family: FontAwesome "> Build & Verify </label>-->
            <!--</div>-->
        <!--<div align="center">-->
            <!--<label style="font-size:15px; color: white; font-family: FontAwesome "> Build and control your physical microfluidic chip </label>-->
        <!--</div>-->
        <!--<div align="center">-->
            <!--<a class="btn btn-default" role="button" data-toggle="modal" data-target="#mushroomModal"> See details </a>-->
        <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash; EXTRA CONTENT LINKS &ndash;&gt;-->
    <!--<div>-->
        <!--<a class="rightBottom"><img height= "75" class="myBtn" data-toggle="modal" data-target="#HelpModal" src="../images/index/helpButtonTransparent.png"-->
                                    <!--onmouseover="this.src='../images/index/helpButton.png'" onmouseout="this.src='../images/index/helpButtonTransparent.png'"> </a>-->
    <!--</div>-->
    <!--<div>-->
        <!--<a class="rightCenter" href="http://cidarlab.org/Fluigi"><img height= "75" class="myBtn" src="../images/index/aboutButtonTransparent.png"-->
                                                                      <!--onmouseover="this.src='../images/index/aboutButton.png'" onmouseout="this.src='../images/index/aboutButtonTransparent.png'"></a>-->
    <!--</div>-->


</body>


<!--&lt;!&ndash; WORKFLOW RESET &ndash;&gt;-->
<!--<div class="modal show" id="startmod">-->
    <!--<div class="modal-header">-->
        <!--<a class="close" data-dismiss="modal">×</a>-->
        <!--<h3>Modal header</h3>-->
    <!--</div>-->
    <!--<div class="modal-body">-->
        <!--<p>One fine body…</p>-->
    <!--</div>-->
    <!--<div class="modal-footer">-->
        <!--<a href="#" class="btn">Close</a>-->
        <!--<a href="#" class="btn btn-primary">Save changes</a>-->
    <!--</div>-->
<!--</div>-->


<!-- Modal -->
<script type="text/javascript">
    function workspace_set()
    {
        localStorage.WORKSPACE = document.getElementById('setWorkspace_in').value;

        $.post('/api/getProjects',{workspace:localStorage.WORKSPACE},function(data,error)
        {
            var json_dir = [];
            var length = data.projects.length;
            for(var i = 0; i < length; i++)
            {
                var single_stage = {directory:data.projects[i]};
                json_dir.push(single_stage);
            }
            render_projects(json_dir);
        });

        $('#setProject').modal('show');
    }
</script>
<script type="text/javascript">
    function render_projects(json)
    {
        $.get('../javascripts/project_select_template.hbs', function (data)
        {
            var template = Handlebars.compile(data);
            var myhtml = template(json);
            $("#project_select").html(myhtml);

        },'html');
    }
</script>

<div id="setWorkspace" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirm Workspace</h4>
            </div>
            <div class="modal-body">
                    <div class="form-group">
                        <label for="setWorkspace_in">Your current workspace is located at:</label>
                        <input type="text" class="form-control" id="setWorkspace_in">
                    </div>

                    Please confirm that this is your workspace folder.
                    If this is not your workspace folder, please change the directory now.

            </div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-default" data-dismiss="modal" onclick="setNewSession();" > Start New Session </button>-->
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="workspace_set()"> Confirm Workspace </button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    //
    $(document).ready(function()
    {
        document.getElementById("setWorkspace_in").value = localStorage.WORKSPACE;
        $('#setWorkspace').modal('show');
    });
</script>

<!-- Modal -->
<div id="setProject" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Choose your project, or start a new project.</h4>
            </div>

            <div class="modal-body" id="project_select"> </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="nameProject();" data-target=".bd-example-modal-sm"> New Project </button>
                <!--<button type="button" class="btn btn-default" data-dismiss="modal" "> Load Project</button>-->
            </div>
        </div>
    </div>
</div>

<div id='name_project' class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">

        <div class="modal-content">
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button" onclick="generateNewProject()">Create Project</button>
                </span>
                    <input id='projectNameInput' type="text" class="form-control" placeholder="Enter Project Name">
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="HelpModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">FAQ </h4>
            </div>
            <div class="modal-body">
                Do I need to download anything? <br/>
                Yes! You need to download node.js to create a local server.
                <br/><br/>
                My computer is not recognizing ports when I connect my arduino! <br/>
                Please download the drivers for the arduino, and remember to connect the arduino before you open connections.
                <br/><br/>
                Email us here for further questions:
                <a href="mailto:bu.igemhw2016@gmail.com" style="font-size:12px; color:blue; font-weight:400;">The FluigiGUI Team</a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="mushroomModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">muShroom Mapper </h4>
            </div>
            <div class="modal-body">
                Click on the Mushroom to get started! Import your verilog and ucf file to display the mint file and the code. Then, save your files and proceed back to the home page.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="fluigiModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"> MakerFluidics </h4>
            </div>
            <div class="modal-body">
                Import your svg and json files to display the microfluidics.
                The buttons on the svg display will help you turn on and off the valves, and the settings button leads you to a table where you can set the open and closed states.
                The connectivity button allows you to connect to your arduino.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- LEAVE JS FOR LAST - faster loading time -->
<!-- Latest compiled and minified JavaScript -->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>-->
<script src="/javascripts/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="/javascripts/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Metis Menu Plugin JavaScript -->
<script src="/javascripts/bower_components/metisMenu/dist/metisMenu.min.js"></script>
<!-- Morris Charts JavaScript -->
<script src="/javascripts/bower_components/raphael/raphael-min.js"></script>
<script src="/javascripts/bower_components/morrisjs/morris.min.js"></script>
<!--<script src="/javascripts/js/morris-data.js"></script>-->
<!-- Custom Theme JavaScript -->
<script src="/javascripts/dist/js/sb-admin-2.js"></script>
<!-- *** END: DEPENDENCIES *** -->

</html>
