<!DOCTYPE html>
<html lang="en" class="home_page">
<head>
    <link rel="stylesheet" type="text/css" href="../stylesheets/main.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>


    <!--Walkthrough tour-->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.10.1/css/bootstrap-tour.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.10.1/js/bootstrap-tour.js"></script>
    <script src="../javascripts/tour.js"></script>

    <script type="text/javascript" src="../javascripts/editor_support.js"></script>

</head>



<body style="background-image:url(../images/index/backgroundImg.png)">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!--Top Bar-->
<div class="topBar">
    <img height= "100" src="../images/index/FluigiButton.png">
    <img height="100" src="../images/index/cidar-backgbround-no-js.png">
    <img height="100" src="../images/index/buLogo.png">


    <!--<a href="../dashboard"> <img class="DASHBOARD" height ="40" src="../images/index/dashboard.svg" > </a>-->

</div>

<header>
    <!--<div class="container">-->
        <div class="row">
            <div style="text-align: center;">
                <a href="../dashboard">
                    <img id="dashboard" style="cursor: pointer; padding-top: 5%; text-align: center;" height="400px" src="../images/NeptuneLogo.png" alt=""
                         onmouseover="this.height='410'" onmouseout="this.height='400'">
                </a>
                <div>
                    <br>
                    <h1  style="font-family: 'Trocchi', serif; font-size: 45px; font-weight: normal; line-height: 48px; color: white;"> Welcome to Neptune </h1>
                    <br><br><br>
                    <a style="cursor:pointer;"><img height= "75" class="myBtn" data-toggle="modal" data-target="#HelpModal" src="../images/index/helpButtonTransparent.png"
                        onmouseover="this.src='../images/index/helpButton.png'" onmouseout="this.src='../images/index/helpButtonTransparent.png'"> </a>
                    <a style="padding-left: 50px;" href="http://cidarlab.org/Fluigi"><img height= "75" class="myBtn" src="../images/index/aboutButtonTransparent.png"
                        onmouseover="this.src='../images/index/aboutButton.png'" onmouseout="this.src='../images/index/aboutButtonTransparent.png'"></a>
                </div>
            </div>
        </div>
    <!--</div>-->
</header>


<!--Main Page-->

    <!--&lt;!&ndash; SPECIFY LINK &ndash;&gt;-->
    <!--<div id="specify"  class="centeredMiddle" >-->
        <!--<div align="center"> <a href="../lfrpage">-->
            <!--<img  height="75" src="../images/index/specify_logo.svg"-->
                  <!--onmouseover="this.height='85'" onmouseout="this.height='75'">-->
        <!--</a>-->
        <!--</div>-->
        <!--<div align="center">-->
            <!--<label style="font-size:40px; color: white; font-family: FontAwesome "> Specify </label>-->
        <!--</div>-->
        <!--<div align="center">-->
            <!--<label style="font-size:15px; color: white; font-family: FontAwesome "> Describe the function of your device. </label>-->
        <!--</div>-->
        <!--<div align="center">-->
            <!--<a class="btn btn-default" role="button" data-toggle="modal" data-target="#lfrModal"> See details </a>-->
        <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash; DESIGN LINK &ndash;&gt;-->
    <!--<div id= "design" class="centeredTop" >-->
        <!--<div align="center"> <a href="../uShroomPage">-->
            <!--<img  height="75" src="../images/index/design_logo.svg"-->
                  <!--onmouseover="this.height='85'" onmouseout="this.height='75'">-->
        <!--</a>-->
        <!--</div>-->
        <!--<div align="center">-->
            <!--<label style="font-size:40px; color: white; font-family: FontAwesome "> Design </label>-->
        <!--</div>-->
        <!--<div align="center">-->
            <!--<label style="font-size:15px; color: white; font-family: FontAwesome "> Create the design schematic of your device </label>-->
        <!--</div>-->
        <!--<div align="center">-->
            <!--<a class="btn btn-default" role="button" data-toggle="modal" data-target="#fluigiModal"> See details </a>-->
        <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash; BUILD & VERIFY LINK &ndash;&gt;-->
    <!--<div id="buildverify" class="centeredBottom">-->
        <!--<div align="center"> <a href="../fluigipage">-->
            <!--<img  height= "75" src="../images/index/build_logo.svg" onmouseover="this.height='85'" onmouseout="this.height='75'">-->
        <!--</a>-->
        <!--</div>-->
        <!--<div align="center">-->
            <!--<label style="font-size:40px; color: white; font-family: FontAwesome "> Build & Verify </label>-->
            <!--</div>-->
        <!--<div align="center">-->
            <!--<label style="font-size:15px; color: white; font-family: FontAwesome "> Build and control your physical microfluidic chip </label>-->
        <!--</div>-->
        <!--<div align="center">-->
            <!--<a class="btn btn-default" role="button" data-toggle="modal" data-target="#mushroomModal"> See details </a>-->
        <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash; EXTRA CONTENT LINKS &ndash;&gt;-->
    <!--<div>-->
        <!--<a class="rightBottom"><img height= "75" class="myBtn" data-toggle="modal" data-target="#HelpModal" src="../images/index/helpButtonTransparent.png"-->
                                    <!--onmouseover="this.src='../images/index/helpButton.png'" onmouseout="this.src='../images/index/helpButtonTransparent.png'"> </a>-->
    <!--</div>-->
    <!--<div>-->
        <!--<a class="rightCenter" href="http://cidarlab.org/Fluigi"><img height= "75" class="myBtn" src="../images/index/aboutButtonTransparent.png"-->
                                                                      <!--onmouseover="this.src='../images/index/aboutButton.png'" onmouseout="this.src='../images/index/aboutButtonTransparent.png'"></a>-->
    <!--</div>-->


</body>


<!--&lt;!&ndash; WORKFLOW RESET &ndash;&gt;-->
<!--<div class="modal show" id="startmod">-->
    <!--<div class="modal-header">-->
        <!--<a class="close" data-dismiss="modal">×</a>-->
        <!--<h3>Modal header</h3>-->
    <!--</div>-->
    <!--<div class="modal-body">-->
        <!--<p>One fine body…</p>-->
    <!--</div>-->
    <!--<div class="modal-footer">-->
        <!--<a href="#" class="btn">Close</a>-->
        <!--<a href="#" class="btn btn-primary">Save changes</a>-->
    <!--</div>-->
<!--</div>-->


<!-- Modal -->
<div id="setSession" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Resume Session or New Session?</h4>
            </div>
            <div class="modal-body">
                <p>
                    You may choose to resume your previous session, or start a new session.
                    <br>
                    If you choose to resume your previous session, you will have your old file content
                    available to you to download and continue your session
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="setNewSession();" > Start New Session </button>
                <button type="button" class="btn btn-default" data-dismiss="modal" > Resume Previous Session </button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $('#setSession').modal('show');
    });
</script>


<!-- Modal -->
<div id="HelpModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">FAQ </h4>
            </div>
            <div class="modal-body">
                Do I need to download anything? <br/>
                Yes! You need to download node.js to create a local server.
                <br/><br/>
                My computer is not recognizing ports when I connect my arduino! <br/>
                Please download the drivers for the arduino, and remember to connect the arduino before you open connections.
                <br/><br/>
                Email us here for further questions:
                <a href="mailto:bu.igemhw2016@gmail.com" style="font-size:12px; color:blue; font-weight:400;">The FluigiGUI Team</a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="mushroomModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">muShroom Mapper </h4>
            </div>
            <div class="modal-body">
                Click on the Mushroom to get started! Import your verilog and ucf file to display the mint file and the code. Then, save your files and proceed back to the home page.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="fluigiModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"> MakerFluidics </h4>
            </div>
            <div class="modal-body">
                Import your svg and json files to display the microfluidics.
                The buttons on the svg display will help you turn on and off the valves, and the settings button leads you to a table where you can set the open and closed states.
                The connectivity button allows you to connect to your arduino.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


<!-- LEAVE JS FOR LAST - faster loading time -->
<!-- Latest compiled and minified JavaScript -->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>-->
<script src="/javascripts/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="/javascripts/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Metis Menu Plugin JavaScript -->
<script src="/javascripts/bower_components/metisMenu/dist/metisMenu.min.js"></script>
<!-- Morris Charts JavaScript -->
<script src="/javascripts/bower_components/raphael/raphael-min.js"></script>
<script src="/javascripts/bower_components/morrisjs/morris.min.js"></script>
<!--<script src="/javascripts/js/morris-data.js"></script>-->
<!-- Custom Theme JavaScript -->
<script src="/javascripts/dist/js/sb-admin-2.js"></script>
<!-- *** END: DEPENDENCIES *** -->

<script type="text/javascript">
    function setNewSession()
    {
        localStorage.clear();
        localStorage.WORKFLOW_STAGE = 'start';
        localStorage.FILE_specifyLFR = '';
        localStorage.FILE_specifyUCF = '';
        localStorage.FILE_designMINT = '';
        localStorage.FILE_designINI = '';
        localStorage.FILE_buildJSON = '';
        localStorage.FILE_buildSVGcontrol = '';
        localStorage.FILE_buildSVGcell = '';
        localStorage.FILE_buildSVGflow = '';
        localStorage.FILE_buildSVGboundary = '';
        localStorage.FILE_buildEPSdevice = '';
        localStorage.FILE_buildEPSphoto = '';

//        downloadFile('','specifyLFR','','inputString');
//        //downloadFile('','specifyUCF','','inputString');
//        downloadFile('','designMINT','','inputString');
//        //downloadFile('','designINI','','inputString');
//        downloadFile('','buildJSON','','inputString');
//        downloadFile('','buildSVG','','inputString');

        initiateGUI();

        $.get('../uploads/Specify/specifyUCF.json',function(data)
        {
            var Data = JSON.stringify(data);
            var content = Data.split(/[\r\n]+/);
            localStorage.FILE_specifyUCF = JSON.stringify(content);
        });
        $.get('../uploads/Design/designINI.txt',function(data)
        {
            var content = data.split("\n");
            localStorage.FILE_designINI = JSON.stringify(content);
        });
    }
</script>

</html>