<!DOCTYPE html>

<html lang="en" class="lfrpage">

<head>

    <title> {{title}} </title>

    <!-- CDN DEPENDENCIES-->

    <!-- BOOTSTRAP-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap-tour/0.10.3/css/bootstrap-tour-standalone.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css"/>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    <!-- JAVASCRIPT DEPENDENCIES -->
    <script type="text/javascript" src="../javascripts/ValveDispenserJSONTracking.js" > </script>
    <script type="text/javascript" src="../javascripts/editor_support.js"></script>

    <!-- CSS DEPENDENCIES -->
    <link rel="stylesheet" type="text/css" href="../stylesheets/main_lfr.css" />

    <!--Walkthrough tour-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.10.1/css/bootstrap-tour.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.10.1/js/bootstrap-tour.js"></script>
    <script src="../javascripts/tour.js"></script>

</head>

<body>

    <!-- Lfr Navigation Bar-->
    <nav class="navbar navbar-fixed-top" id="navBar">
        <div class="container-fluid">

            <div class="navbar-header">
                <a class="navbar-brand" >
                    <img height='75' alt="Brand" src="../images/index/specify_logo.svg">
                </a>
            </div>

            <div>
                <script type="text/javascript"> var myText = 'GARDEN OF EDEN'; var url = '../controllers/filewrite.js' </script>
                <ul class="nav navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="../"> <img src="../images/fluigi/homeButtonTransparent.png"> </a></li>
                    <li class="nav-item" id="pushFile"><a class="nav-link" onclick="pushFileToEditor(LFR_start_editor,'LFR_start')"> <img src="../images/editor_control_icons/push_file.svg"> </a> </li>
                    <li class="nav-item" id="reloadFile"><a class="nav-link" onclick="refreshEditor(JSON.parse(localStorage.LFR_start_STRING),LFR_start_editor)"> <img src="../images/editor_control_icons/reload_file.svg"> </a> </li>
                    <li class="nav-item" id="saveFile"><a class="nav-link" onclick="saveEditorContent(LFR_start_editor,'LFR_start')"> <img src="../images/editor_control_icons/save_file.svg"> </a> </li>
                    <li class="nav-item" id="downloadFile"><a class="nav-link" onclick="openDownloadModal()"> <img src="../images/editor_control_icons/download_file.svg"> </a> </li>
                    <!--<li class="nav-item">-->
                        <!--<form action="/api/writeToFile" method="post">-->
                            <!--<a class="nav-link"> <img src="../images/editor_control_icons/download_file.svg" onclick="submit"> </a>-->
                        <!--</form> </li>-->
                    <!--<li class="nav-item"><form id="write_file"-->
                                               <!--enctype="multipart/form-data"-->
                                               <!--action="/api/writeToFile"-->
                                               <!--method="post">-->
                            <!--<input type="test" name="field_write">-->
                            <!--<input type="submit">-->
                    <!--</form></li>-->
                </ul>
            </div>
        </div>
    </nav>


    <!-- UPLOAD BAR: UPLOAD LFR, UCF, MINT FILES -->
    <div id= "upload_bar" class="uploadbar" align="center">
        <div>

            <form id="uploadLFR_start"
                  enctype="multipart/form-data"
                  action="/api/LFR_start"
                  method="post">
                <div id="div1"><input id= "inputfile" class="btn btn-default" type="file" name="myLFR_start" /></div>

                <div id="div3">
                    <input id="uploadfile" class= "btn btn-default" type="submit" value="Upload LFR" name="submit" >
                    <span id = "status"></span>
                </div>

            </form>
        </div>

    </div>

    <!-- DOWNLOAD MODAL -->
    <div id="download_modal" class="modal" style="width: 500px; padding-left: 10px; padding-top: 150px;">

        <div class="modal-content">
            <div class="modal-header">
                <h2> Download Options </h2>
            </div>
            <div class="modal-body">
                </br>
                <p> Download </br> Select the file you would like to download. Choose a file name </p>

                Select file type to download:
                <select class = "download_type" id = "download_typeID">
                    <option> LFR File (Specify)</option>
                    <option> UCF File (Specify) </option>
                    <option> LFR File (Design)</option>
                    <option> UCF File (Design) </option>
                    <option> MINT File (Design) </option>
                    <option> JSON File (Build) </option>
                    <option> SVG File (Build) </option>
                </select>
                <br>
                Download name:
                <input type="text" name="file_name" value="LFR_File" id="download_nameID">
                <br>
                <input class="download_button" type="submit" value="Select" onclick="downloadFile(document.getElementById('download_typeID').value, document.getElementById('download_nameID').value)">
            </div>
            <div class="modal-footer">
                <button class="close_modal" onclick="closeDownloadModal()"> Close </button>
            </div>
        </div>

    </div>

    <!-- THE FOLLOWING CODE IS USED TO RENDER AND CONTROL THE EMBEDDED ACE EDITOR: -->
    <!-- BEGIN ACE EDITOR -->
    <div id="LFR_start_editor"></div> <!-- EDITOR DIV; EDITOR CONTENT GOES IN HERE-->

    <script src="/javascripts/ace/ace.js" type="text/javascript" charset="utf-8"></script>
    <script> var LFR_start_editor = ace.edit("LFR_start_editor"); LFR_start_editor.setTheme("ace/theme/cobalt"); LFR_start_editor.getSession().setMode("ace/mode/javascript"); </script>
    <!-- END ACE EDITOR -->

    <!-- END DEPENDENCIES HERE -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</body>

    <!-- AND, END DEPENDENCIES HERE -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
    <!--<script src="../javascripts/lfr_start_editor_support.js" type="application/javascript"></script>-->
    <script type="text/javascript" src="../javascripts/initiate_lfr_start_editor.js"></script>
    <script src="../javascripts/uploadBar_lfr.js" type="application/javascript"></script>

</html>