<html>
<head>
    <title> {{title}} </title>

    <link rel="stylesheet" href="../lib/nouislider/nouislider.min.css">

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!--<link rel="stylesheet" href="../stylesheets/modified.css">-->

    <!-- Bootstrap Core CSS -->
    <link href="/javascripts/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS for Page -->
    <link href="../stylesheets/controlFull.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="/javascripts/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/javascripts/dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Toastr CDN -->
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css"/>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <!-- Custom Fonts -->
    <link href="/javascripts/bower_components/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">


    <!--Walkthrough tour-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.10.1/css/bootstrap-tour.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.10.1/js/bootstrap-tour.js"></script>
    <script src="../javascripts/tour.js"></script>

    <script src="/javascripts/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../javascripts/serialcommunication.js" type="application/javascript"></script>


    <style>
        ul#ui li {
            display: inline;
        }
        ul#ui li#port-list {
            display: block;
        }
    </style>
</head>




<nav class="navbar navbar-default navbar-static-top navbarFloating" role="navigation" style="margin: 0;">
    <!-- START: TOP LEFT HALF OF NAVIGATION BAR; WE CAN PUT OUR FLUIGI LOGOS HERE -->
    <div class="navbar-header">
        <img class="pull-left" id="dropdownHover" height="40" width="40" style="margin-top: 5px; margin-left: 5px;" src="../images/NeptuneLogo.png">
        <a class="navbar-brand" style="font-family: 'Open Sans'"> NEPTUNE </a>
    </div>
    <!-- END: SIDE NAVIGATION BAR -->
</nav>


<br>
<div class="row">
    <!-- START: Open Com pannel-->
    <div class="col-lg-1 col-md-1"></div>
    <div class="col-lg-10 col-md-10">

        <div class="panel with-nav-tabs panel-default">
            <div class="panel-heading">
                <ul class="nav">
                    <div class="well well-sm project_title">
                        <h4>  Serial Comm Connect </h4><span class="pull-right project_title" id="project_title"> </span>
                    </div>

                </ul>
            </div>

            <div class="panel-body">
                <ul id="ui">
                    <div>
                        <li id="port-list">
                            <br/>
                            <label for="ports">Serial Ports Available</label>
                            <select id="ports">
                                {{#each serialPorts}} <!-- // Note the reference to the customers object​-->
                                    <option value={{this.comName}}> name: {{ this.comName }} </option>​
                                {{/each}}
                            </select>
                        </li>
                    </div>
                    <div class="btn-group" role="group" style="padding-top: 50px;">
                        <li>
                            <button class="btn btn-default" id="begin-comm"> Open Comm</button>
                        </li>
                        <li>
                            <button class="btn btn-default" id="end-comm"> Close Comm</button>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-1 col-md-1"></div>
</div>


</body>
</html>