<!DOCTYPE html>
<html lang="en">

<head>
    <title> {{title}} </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- START: ALL PERSONAL JAVASCRIPTS HERE -->

    <script type="text/javascript" src="../javascripts/workflow_tracker.js"></script>
    <script type="text/javascript" src="../javascripts/actionCenter_support.js"></script>
    <script>
        localStorage.specify_editor_state = 'specifyLFR';
        localStorage.lfr_state = 'write';
        localStorage.ucf_state = 'write';
    </script>

    <!-- JAVASCRIPT DEPENDENCIES -->
    <script type="text/javascript" src="../javascripts/editor_support.js"></script>

    <!-- CSS DEPENDENCIES -->
    <style type="text/css" media="screen">
        #editor_specify {
            height: 300px;
        }
    </style>
    <!-- END: ALL PERSONAL JAVASCRIPTS HERE -->

    <!-- Bootstrap Core CSS -->
    <link href="/javascripts/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/javascripts/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="/javascripts/dist/css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/javascripts/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Toastr CDN -->
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css"/>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    <!-- Morris Charts CSS -->
    <!--<link href="/javascripts/bower_components/morrisjs/morris.css" rel="stylesheet">-->

    <!-- Custom Fonts -->
    <link href="/javascripts/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        body {  padding: 0 !important;  }
    </style>

</head>

<body>

<!-- *** START: THIS DIVISION WRAPS EVERYTHING *** -->
<div id="wrapper">

    <!-- START: THIS DIV HOSTS THE SIDE AND TOP NAVIGATION BARS -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">

        <!-- START: TOP LEFT HALF OF NAVIGATION BAR; WE CAN PUT OUR FLUIGI LOGOS HERE -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"> Neptune User Interface </a>
        </div>
        <!-- END: TOP LEFT HALF OF NAVIGATION BAR; WE CAN PUT OUR FLUIGI LOGOS HERE -->

        <!-- START: TOP RIGHT HALF OF NAVIGATION BAR; WE CAN PUT OUR LOGOUT, SETTINGS, ECT HERE -->
        <ul class="nav navbar-top-links navbar-right">

            <!--&lt;!&ndash; START: MESSAGE DROP DOWN MENU &ndash;&gt;-->
            <!--<li class="dropdown">-->
            <!--<a class="dropdown-toggle" data-toggle="dropdown" href="#">-->
            <!--<i class="fa fa-envelope fa-fw"></i>  <i class="fa fa-caret-down"></i>-->
            <!--</a>-->
            <!--<ul class="dropdown-menu dropdown-messages">-->
            <!--<li>-->
            <!--<a href="#">-->
            <!--<div>-->
            <!--<strong>John Smith</strong>-->
            <!--<span class="pull-right text-muted">-->
            <!--<em>Yesterday</em>-->
            <!--</span>-->
            <!--</div>-->
            <!--<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li class="divider"></li>-->
            <!--<li>-->
            <!--<a href="#">-->
            <!--<div>-->
            <!--<strong>John Smith</strong>-->
            <!--<span class="pull-right text-muted">-->
            <!--<em>Yesterday</em>-->
            <!--</span>-->
            <!--</div>-->
            <!--<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li class="divider"></li>-->
            <!--<li>-->
            <!--<a href="#">-->
            <!--<div>-->
            <!--<strong>John Smith</strong>-->
            <!--<span class="pull-right text-muted">-->
            <!--<em>Yesterday</em>-->
            <!--</span>-->
            <!--</div>-->
            <!--<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li class="divider"></li>-->
            <!--<li>-->
            <!--<a class="text-center" href="#">-->
            <!--<strong>Read All Messages</strong>-->
            <!--<i class="fa fa-angle-right"></i>-->
            <!--</a>-->
            <!--</li>-->
            <!--</ul>-->
            <!--&lt;!&ndash; /.dropdown-messages &ndash;&gt;-->
            <!--</li>-->
            <!--&lt;!&ndash; END: MESSAGE DROP DOWN MENU &ndash;&gt;-->

            <!-- START: PROGRESS DROP DOWN MENU -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-tasks fa-fw"></i>  <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-tasks">
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong> Specify Stage </strong>
                                    <span class="pull-right text-muted"> Progress </span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                        <span class="sr-only">40% Complete (success)</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong> Design Stage </strong>
                                    <span class="pull-right text-muted"> Progress </span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                        <span class="sr-only">20% Complete</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong> Build Stage </strong>
                                    <span class="pull-right text-muted"> Progress </span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                        <span class="sr-only">60% Complete (warning)</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <!--<li class="divider"></li>-->
                    <!--<li>-->
                    <!--<a href="#">-->
                    <!--<div>-->
                    <!--<p>-->
                    <!--<strong>Task 4</strong>-->
                    <!--<span class="pull-right text-muted">80% Complete</span>-->
                    <!--</p>-->
                    <!--<div class="progress progress-striped active">-->
                    <!--<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 80%">-->
                    <!--<span class="sr-only">80% Complete (danger)</span>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</a>-->
                    <!--</li>-->
                    <li class="divider"></li>
                    <!--<li>-->
                    <!--<a class="text-center" href="#">-->
                    <!--<strong>See All Tasks</strong>-->
                    <!--<i class="fa fa-angle-right"></i>-->
                    <!--</a>-->
                    <!--</li>-->
                </ul>
                <!-- /.dropdown-tasks -->
            </li>
            <!-- END: PROGRESS DROP DOWN MENU -->

            <!--<li class="dropdown">-->
            <!--<a class="dropdown-toggle" data-toggle="dropdown" href="#">-->
            <!--<i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>-->
            <!--</a>-->
            <!--<ul class="dropdown-menu dropdown-alerts">-->
            <!--<li>-->
            <!--<a href="#">-->
            <!--<div>-->
            <!--<i class="fa fa-comment fa-fw"></i> New Comment-->
            <!--<span class="pull-right text-muted small">4 minutes ago</span>-->
            <!--</div>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li class="divider"></li>-->
            <!--<li>-->
            <!--<a href="#">-->
            <!--<div>-->
            <!--<i class="fa fa-twitter fa-fw"></i> 3 New Followers-->
            <!--<span class="pull-right text-muted small">12 minutes ago</span>-->
            <!--</div>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li class="divider"></li>-->
            <!--<li>-->
            <!--<a href="#">-->
            <!--<div>-->
            <!--<i class="fa fa-envelope fa-fw"></i> Message Sent-->
            <!--<span class="pull-right text-muted small">4 minutes ago</span>-->
            <!--</div>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li class="divider"></li>-->
            <!--<li>-->
            <!--<a href="#">-->
            <!--<div>-->
            <!--<i class="fa fa-tasks fa-fw"></i> New Task-->
            <!--<span class="pull-right text-muted small">4 minutes ago</span>-->
            <!--</div>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li class="divider"></li>-->
            <!--<li>-->
            <!--<a href="#">-->
            <!--<div>-->
            <!--<i class="fa fa-upload fa-fw"></i> Server Rebooted-->
            <!--<span class="pull-right text-muted small">4 minutes ago</span>-->
            <!--</div>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li class="divider"></li>-->
            <!--<li>-->
            <!--<a class="text-center" href="#">-->
            <!--<strong>See All Alerts</strong>-->
            <!--<i class="fa fa-angle-right"></i>-->
            <!--</a>-->
            <!--</li>-->
            <!--</ul>-->
            <!--&lt;!&ndash; /.dropdown-alerts &ndash;&gt;-->
            <!--</li>-->

            <!-- START: SETTINGS DROP DOWN MENU -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
            </li>
            <!-- END: SETTINGS DROP DOWN MENU -->

        </ul>
        <!-- END: TOP RIGHT HALF OF NAVIGATION BAR; WE CAN PUT OUR LOGOUT, SETTINGS, ECT HERE -->

        <!-- START: SIDE NAVIGATION BAR -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">

                    <!-- *** NOTE: THIS CODE IS FOR A "SEARCH" INPUT BOX *** -->
                    <!--<li class="sidebar-search">-->
                    <!--<div class="input-group custom-search-form">-->
                    <!--<input type="text" class="form-control" placeholder="Search...">-->
                    <!--<span class="input-group-btn">-->
                    <!--<button class="btn btn-default" type="button">-->
                    <!--<i class="fa fa-search"></i>-->
                    <!--</button>-->
                    <!--</span>-->
                    <!--</div>-->
                    <!--&lt;!&ndash; /input-group &ndash;&gt;-->
                    <!--</li>-->

                    <!-- THIS LINKS TO HOME -->

                    <li>
                        <a href="../"><i class="fa fa-home fa-fw"></i> Home </a>
                    </li>

                    <!-- THIS LINKS TO THE MAIN DASHBOARD -->
                    <li>
                        <a href="../dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard </a>
                    </li>

                    <!-- THESE LINKS PROVIDE USER NAVIGATION THROUGHOUT THE WORKFLOW -->
                    <li>
                        <a href="#"><i class="fa fa-share fa-fw"></i> Jump to Workflow Stage <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="../specify"><i class="fa fa-pencil-square-o  fa-fw"></i> Specify </a>
                            </li>
                            <li>
                                <a href="../design"><i class="fa fa-cogs" aria-hidden="true"></i> Design </a>
                            </li>
                            <li>
                                <a href="../BuildAndVerify"><i class="fa fa-gavel" aria-hidden="true"></i> Build and Verify </a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>

                    <!--<li>-->
                    <!--<a href="tables.html"><i class="fa fa-table fa-fw"></i> Tables</a>-->
                    <!--</li>-->

                    <!--<li>-->
                    <!--<a href="forms.html"><i class="fa fa-edit fa-fw"></i> Forms</a>-->
                    <!--</li>-->

                    <!--<li>-->
                    <!--<a href="#"><i class="fa fa-wrench fa-fw"></i> UI Elements<span class="fa arrow"></span></a>-->
                    <!--<ul class="nav nav-second-level">-->
                    <!--<li>-->
                    <!--<a href="panels-wells.html">Panels and Wells</a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a href="buttons.html">Buttons</a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a href="notifications.html">Notifications</a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a href="typography.html">Typography</a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a href="icons.html"> Icons</a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a href="grid.html">Grid</a>-->
                    <!--</li>-->
                    <!--</ul>-->
                    <!--&lt;!&ndash; /.nav-second-level &ndash;&gt;-->
                    <!--</li>-->

                    <!--<li>-->
                    <!--<a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>-->
                    <!--<ul class="nav nav-second-level">-->
                    <!--<li>-->
                    <!--<a href="#">Second Level Item</a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a href="#">Second Level Item</a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a href="#">Third Level <span class="fa arrow"></span></a>-->
                    <!--<ul class="nav nav-third-level">-->
                    <!--<li>-->
                    <!--<a href="#">Third Level Item</a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a href="#">Third Level Item</a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a href="#">Third Level Item</a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a href="#">Third Level Item</a>-->
                    <!--</li>-->
                    <!--</ul>-->
                    <!--&lt;!&ndash; /.nav-third-level &ndash;&gt;-->
                    <!--</li>-->
                    <!--</ul>-->
                    <!--&lt;!&ndash; /.nav-second-level &ndash;&gt;-->
                    <!--</li>-->

                    <!--<li>-->
                    <!--<a href="#"><i class="fa fa-files-o fa-fw"></i> Sample Pages<span class="fa arrow"></span></a>-->
                    <!--<ul class="nav nav-second-level">-->
                    <!--<li>-->
                    <!--<a href="blank.html">Blank Page</a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a href="login.html">Login Page</a>-->
                    <!--</li>-->
                    <!--</ul>-->
                    <!--&lt;!&ndash; /.nav-second-level &ndash;&gt;-->
                    <!--</li>-->

                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- END: SIDE NAVIGATION BAR -->

    </nav>
    <!-- END: THIS DIV HOSTS THE SIDE AND TOP NAVIGATION BARS -->

    <!-- START: PAGE WRAPER -->
    <div id="page-wrapper">

        <!-- PAGE TITLE START -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"> Specify: Describe the function and layout of your device </h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- PAGE TITLE END -->

        <!--PAGE CONTENT WRAP START: ALL PAGE CONTENT IS EMBEDDED BELOW -->
        <div class="row">

            <!-- START: LFR EDITOR & 2 other panels-->
            <div class="col-lg-8">

                <!-- START: LFR EDITOR -->
                <div class="panel with-nav-tabs panel-default">
                    <div class="panel-heading">
                        <!--<i class="fa fa-bar-chart-o fa-fw"></i>-->

                            <ul class="nav nav-tabs">
                                <li><i class="fa fa-bar-chart-o fa-fw"></i>&nbsp &nbsp</li>
                                <li> Editor &nbsp &nbsp </li>
                                <li id="LFRtab" class="active"><a onclick="changeSpecifyTabs(editor_specify,'LFRtab',[LFR_tab,UCF_tab])">LFR</a></li>
                                <li id="UCFtab"><a onclick="changeSpecifyTabs(editor_specify,'UCFtab',[LFR_tab,UCF_tab])">UCF</a></li>

                                <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a onclick="saveEditorContent(editor_specify,localStorage.specify_editor_state)"> <i class="fa fa-floppy-o  fa-fw"></i> Save Changes </a>
                                        </li>
                                        <li><a onclick="refreshEditor(editor_specify,localStorage.specify_editor_state)"> <i class="fa fa-refresh  fa-fw"></i> Reload </a>
                                        </li>
                                        <li><a onclick="downloadFile('temporary',localStorage.specify_editor_state)"> <i class="fa fa-download  fa-fw"></i> Download File </a>
                                        </li>
                                        <!--<li><a onclick="pushFileToEditor(editor_specify,localStorage.specify_editor_state)"> <i class="fa fa-upload  fa-fw"></i> Push Upload to Editor </a>-->
                                        <!--</li>-->
                                        <li class="divider"></li>
                                        <li><a href="#"> Editor Settings </a>
                                        </li>
                                    </ul>
                                </div>
                                </div>
                            </ul>

                        <!--<div class="pull-right">-->
                            <!--<div class="btn-group">-->
                                <!--<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">-->
                                    <!--Actions-->
                                    <!--<span class="caret"></span>-->
                                <!--</button>-->
                                <!--<ul class="dropdown-menu pull-right" role="menu">-->
                                    <!--<li><a onclick="saveEditorContent(editor_specify,'specifyLFR')"> <i class="fa fa-floppy-o  fa-fw"></i> Save Changes Internally </a>-->
                                    <!--</li>-->
                                    <!--<li><a onclick="downloadFile('temporary','specifyLFR')"> <i class="fa fa-download  fa-fw"></i> Download File </a>-->
                                    <!--</li>-->
                                    <!--<li><a onclick="pushFileToEditor(editor_specify,'specifyLFR')"> <i class="fa fa-upload  fa-fw"></i> Push Upload to Editor </a>-->
                                    <!--</li>-->
                                    <!--<li class="divider"></li>-->
                                    <!--<li><a href="#"> Editor Settings </a>-->
                                    <!--</li>-->
                                <!--</ul>-->
                            <!--</div>-->
                        <!--</div>-->
                    </div>

                    <div class="panel-body" >
                        <div id="editor_specify" style="height:690px"></div>
                    </div>

                </div>
                <div class="text-center">---End of editor---</div>
            </div>

            <script src="/javascripts/ace/ace.js" type="text/javascript" charset="utf-8"></script>
            <script> var editor_specify = ace.edit("editor_specify"); editor_specify.setTheme("ace/theme/github");
            editor_specify.setOptions({
                fontFamily: "tahoma",
                fontSize: "11pt"
            });</script>
            <script>
                var LFR_tab = ace.createEditSession('LFR_tab',"ace/mode/mint");
                var UCF_tab = ace.createEditSession('UCF_tab',"ace/mode/mint");
                editor_specify.setSession(LFR_tab);
            </script>

            <!-- END: LFR EDITOR & 2 other panels-->

            <!-- START: UPLOAD FORM, UCF SUMMARY, INI SUMMARY -->
            <div class="col-lg-4">

                <!-- START: ACTION CENTER -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-play fa-fw"></i> Action Center
                    </div>

                    <div class="panel-body">

                        <div class="row">
                            <div class="col-md-1"> </div>
                            <div class="col-md-4" > <a id="commit_LFR" onclick="commitLFR(editor_specify)" class="btn btn-default btn-block"> Commit LFR </a> </div>
                            <div class="col-md-2"> </div>
                            <div class="col-md-4" > <a id="commit_UCF" onclick="commitUCF(editor_specify)" class="btn btn-default btn-block"> Commit UCF </a> </div>
                            <div class="col-md-1"> </div>
                        </div>

                        <br>

                        <div class="row">
                            <div class="col-md-3"> </div>
                            <div class="col-md-6" >
                                <input id="translate_btnn" class="btn btn-default" value="TRANSLATE" onclick="translateLFR()" > </input>
                                <!--<a data-toggle="modal" data-target="#myModal_translate"> </a>-->
                            </div>
                            <div class="col-md-3"> </div>
                        </div>

                    </div>
                </div>
                <!-- END: ACTION CENTER -->

                <!-- START: UPLOAD FORM -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-upload fa-fw"></i> Upload Files
                    </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <form id="upload_specifyLFR"
                                  enctype="multipart/form-data"
                                  action="/api/specify_LFR"
                                  method="post">
                                <div id="select_div">
                                    <input id= "selectfile_LFR" class="btn btn-default" type="file" name="specifyLFR" />
                                </div>
                                <div id="upload_div">
                                    <input id="uploadfile_LFR" class= "btn btn-default" type="submit" value="Upload LFR" name="submit">
                                    <span id = "status"></span>
                                </div>
                            </form>
                            <br>
                            <form id="upload_specifyUCF"
                                  enctype="multipart/form-data"
                                  action="/api/specify_UCF"
                                  method="post">
                                <div id="select_div">
                                    <input id= "selectfile_UCF" class="btn btn-default" type="file" name="specifyUCF" />
                                </div>
                                <div id="upload_div">
                                    <input id="uploadfile_UCF" class= "btn btn-default" type="submit" value="Upload UCF" name="submit" >
                                    <span id = "status"></span>
                                </div>
                            </form>
                            <!--<br>-->
                            <!--<form id="upload_specifyINI"-->
                                  <!--enctype="multipart/form-data"-->
                                  <!--action="/api/specify_INI"-->
                                  <!--method="post">-->
                                <!--<div id="select_div">-->
                                    <!--<input id= "selectfile_INI" class="btn btn-default" type="file" name="specifyINI" />-->
                                <!--</div>-->
                                <!--<div id="upload_div">-->
                                    <!--<input id="uploadfile_INI" class= "btn btn-default" type="submit" value="Upload INI" name="submit" >-->
                                    <!--<span id = "status"></span>-->
                                <!--</div>-->
                            <!--</form>-->
                        </div>
                    </div>
                </div>
                </div>
                <!-- END: UPLOAD FORM -->

                <!-- START: FILE TRAY -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-list-alt fa-fw"></i> File Tray
                    </div>

                    <div class="panel-body">
                        <div class="list-group">

                            Specify Files: <br>
                            <a type="button" class="list-group-item" data-toggle="modal" data-target="#myModal" onclick="displayFileContent('specifyUCF')" ondblclick="downloadFile('Specify_UCF','specifyUCF')">
                                <i class="fa fa-file-text-o fa-fw"></i> User Constraint File (UCF)
                                    <span class="pull-right text-muted small"> <em> Click to preview </em>
                                    </span>
                            </a>

                            <a type="button" class="list-group-item" data-toggle="modal" data-target="#myModal" onclick="displayFileContent('specifyLFR')" ondblclick="downloadFile('Specify_LFR','specifyLFR')">
                                <i class="fa fa-file-text-o fa-fw"></i> Liquid Flow Relations File (LFR)
                                    <span class="pull-right text-muted small"> <em> Click to preview </em>
                                    </span>
                            </a>
                            <br>
                            Design Files: <br>
                            <a type="button" class="list-group-item" data-toggle="modal" data-target="#myModal" onclick="displayFileContent('designMINT')" ondblclick="downloadFile('Design_MINT','designMINT')">
                                <i class="fa fa-file-text fa-fw"></i> Microfluidic Netlist File (MINT)
                                    <span class="pull-right text-muted small"> <em> Click to preview </em>
                                    </span>
                            </a>
                            <a type="button" class="list-group-item" data-toggle="modal" data-target="#myModal" onclick="displayFileContent('designINI')" ondblclick="downloadFile('Design_INI','design_INI')">
                                <i class="fa fa-file-text fa-fw"></i> Configuration File (INI)
                                    <span class="pull-right text-muted small"> <em> Click to preview </em>
                                    </span>
                            </a>
                            <br>
                            Build Files: <br>
                            <a type="button" class="list-group-item" data-toggle="modal" data-target="#myModal" onclick="displayFileContent('buildJSON')" ondblclick="downloadFile('Build_JSON','buildJSON')">
                                <i class="fa fa-file-code-o fa-fw"></i> Design Schematic (JSON)
                                    <span class="pull-right text-muted small"> <em> Click to preview </em>
                                    </span>
                            </a>

                            <a type="button" class="list-group-item" data-toggle="modal" data-target="#myModal" onclick="displayFileContent('buildSVG')" ondblclick="downloadFile('Build_SVG','buildSVG')">
                                <i class="fa fa-file-code-o fa-fw"></i> Design Schematic (SVG)
                                    <span class="pull-right text-muted small"> <em> Click to preview </em>
                                    </span>
                            </a>

                            <!--<a href="#" class="list-group-item">-->
                            <!--<i class="fa fa-bolt fa-fw"></i> Server Crashed!-->
                            <!--<span class="pull-right text-muted small"><em>11:13 AM</em>-->
                            <!--</span>-->
                            <!--</a>-->
                            <!--<a href="#" class="list-group-item">-->
                            <!--<i class="fa fa-warning fa-fw"></i> Server Not Responding-->
                            <!--<span class="pull-right text-muted small"><em>10:57 AM</em>-->
                            <!--</span>-->
                            <!--</a>-->
                            <!--<a href="#" class="list-group-item">-->
                            <!--<i class="fa fa-shopping-cart fa-fw"></i> New Order Placed-->
                            <!--<span class="pull-right text-muted small"><em>9:49 AM</em>-->
                            <!--</span>-->
                            <!--</a>-->
                            <!--<a href="#" class="list-group-item">-->
                            <!--<i class="fa fa-money fa-fw"></i> Payment Received-->
                            <!--<span class="pull-right text-muted small"><em>Yesterday</em>-->
                            <!--</span>-->
                            <!--</a>-->

                        </div>
                        <!-- /.list-group -->
                        <a href="#" class="btn btn-default btn-block">View All Files</a>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- END: FILE TRAY -->

            </div>
            <!-- END: UPLOAD FORM, UCF SUMMARY, INI SUMMARY -->

            <!-- Modal: Translate Actions -->
            <div class="modal fade" id="myModal_translate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="hideProceed()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel">Translating LFR to MINT</h4>
                        </div>
                        <div class="modal-body">
                            Your Liquid Flow Relations (LFR) file is being compiled into a Microfluidic Netlist File (MINT).
                            This should take up to a few minutes.
                            When ready, you can choose to download your MINT file and manually upload it to the design stage,
                            or you can push the contents of this file to the next stage of the workflow automatically.
                        </div>
                        <div class="modal-footer">
                            <!--<div class="row">-->
                                <!--<div class=".col-md-4"><a id="downloadLFR" class="btn btn-default btn-block"> </a> </div>-->
                                <!--<div class=".col-md-2"> </div>-->
                                <!--<div class=".col-md-4"><a id="pushLFR" class="btn btn-default btn-block"></a> </div>-->
                            <!--</div> -->
                            <button type="button" class="btn btn-primary" onclick="MINTflow('download')">Download MINT</button>
                            <button type="button" class="btn btn-primary" onclick="MINTflow('push')">Push MINT</button>
                            <button type="button" class="btn btn-primary">Download and Push</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="hideProceed()">Close</button>
                            <div class="row"><br>
                                <a href="../design">
                            <button type="button" class="btn btn-success btn-lg center-block" id="proceedDesign" onclick="hideProceed()"> Proceed to Design Stage </button>
                                </a>
                            </div>
                            <!--<button type="button" class="btn btn-primary">Save changes</button>-->
                        </div>
                    </div>
                </div>
            </div>


            <!-- Modal: File Preview -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel"></h4>
                        </div>
                        <div class="modal-body" id="fileGoesHere">

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="clearPreviewModalContent()"> Close </button>
                            <button type="button" class="btn btn-primary" onclick="downloadFile(localStorage.display_file_modal_name,localStorage.display_file_modal_state)"> Download </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!--PAGE CONTENT WRAP END: ALL PAGE CONTENT IS EMBEDDED ABOVE -->

    </div>
    <!-- END: PAGE WRAPER -->

</div>
<!-- *** END: THIS DIVISION WRAPS EVERYTHING *** -->




    <!-- *** START: DEPENDENCIES *** -->
    <!-- jQuery -->
    <script src="/javascripts/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/javascripts/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="/javascripts/bower_components/metisMenu/dist/metisMenu.min.js"></script>
    <!-- Morris Charts JavaScript -->
    <script src="/javascripts/bower_components/raphael/raphael-min.js"></script>
    <script src="/javascripts/bower_components/morrisjs/morris.min.js"></script>
    <!--<script src="/javascripts/js/morris-data.js"></script>-->
    <!-- Custom Theme JavaScript -->
    <script src="/javascripts/dist/js/sb-admin-2.js"></script>
    <!-- *** END: DEPENDENCIES *** -->

    <script type="text/javascript">
        pushFileToEditor(editor_specify,'specifyUCF',UCF_tab);
        pushFileToEditor(editor_specify,'specifyLFR',LFR_tab);
    </script>
    <script type="text/javascript">
        function hideProceed() {$("#proceedDesign").hide();}
        hideProceed();
    </script>

</body>
    <!--<script type="text/javascript" src="../javascripts/initiate_lfr_start_editor.js"></script>-->
    <script src="../javascripts/uploads.js" type="application/javascript"></script>
    <script type="text/javascript" src="../javascripts/editor_support.js"></script>
    <script> (document.getElementById('translate_btnn')).disabled = true; </script>
</html>