<!DOCTYPE html>

<html lang="en" class="uShroomPage">

<head>

    <title> {{title}} </title>

    <!-- CDN DEPENDENCIES-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <!--must include script to onclick button mmexec-->

    <!-- JAVASCRIPT DEPENDENCIES -->
    <script type="text/javascript" src="../javascripts/mmpage.js"></script>
    <script type="text/javascript" src="../javascripts/editor_support.js"></script>

    <!-- CSS DEPENDENCIES -->
    <link rel="stylesheet" type="text/css" href="../stylesheets/main_uShroom.css" />

</head>

<body>

    <!--uShroom Navigation Bar-->
    <nav class="navbar navbar-fixed-top">
        <div class="container-fluid">

            <div class="navbar-header">
                <a class="navbar-brand" >
                    <img alt="Brand" src="../images/uShroom/MINT_Logo.png" height="52" width="126">
                </a>
            </div>

            <div>
                <ul class="nav navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="../"> <img src="../images/fluigi/homeButtonTransparent.png"> </a> </li>
                    <li class="nav-item"><a class="nav-link" onclick="openMintEditorModal()"> <img src="../images/uShroom/editorSettings.svg"> </a> </li>
                    <li class="nav-item"><a class="nav-link" onclick="pushFileToEditor(MINT_editor,'MINT')"> <img src="../images/editor_control_icons/push_file.svg"> </a> </li>
                    <li class="nav-item"><a class="nav-link" onclick="refreshEditor(JSON.parse(localStorage.MINT_STRING),MINT_editor)"> <img src="../images/editor_control_icons/reload_file.svg"> </a> </li>
                    <li class="nav-item"><a class="nav-link" onclick="saveEditorContent(MINT_editor,'MINT')"> <img src="../images/editor_control_icons/save_file.svg"> </a> </li>
                </ul>
            </div>

<<<<<<< HEAD
        <div class="navbar-header">
            <a class="navbar-brand" >
                <img alt="Brand" src="../images/uShroom/MINT_Logo.png" height="52" width="126">
            </a>
        </div>

        <div>
            <ul class="nav navbar-nav">

                <li class="nav-item"><a class="nav-link" href="../"> <img src="../images/fluigi/homeButtonTransparent.png"> </a></li>
                <!--LEAVE IN COMMENTS. SETTINGS PAGE NOT IMPLEMENTED YET IN uSHROOM, BUT WE WILL ADD FUNCTIONALITY HERE LATER-->
                <!--<li class="nav-item"> <a class="nav-link"> <img onclick="settingsButtonPressed();" src="../images/fluigi/settingsIcon.png"> </a></li>-->
            </ul>
        </div>

        <div>
            <ul class="nav navbar-nav">
                <li class="nav-item" id="place_and_route"><a class="nav-link" href="../fluigipage"><img  src="../images/uShroom/PlacenRoute.png"></a></li>
                <!--LEAVE IN COMMENTS. SETTINGS PAGE NOT IMPLEMENTED YET IN uSHROOM, BUT WE WILL ADD FUNCTIONALITY HERE LATER-->
                <!--<li class="nav-item"> <a class="nav-link"> <img onclick="settingsButtonPressed();" src="../images/fluigi/settingsIcon.png"> </a></li>-->
            </ul>
        </div>

        <div>
            <ul>
                <button class="nav-item" id="SHANE_1" onclick="SHANE_1()"></button>
            </ul>
        </div>
        <div>
            <ul>
                <button class="nav-item" id="SHANE_2" onclick="SHANE_2()"></button>

                <li class="nav-item"><a class="nav-link" href="../"> <img src="../images/fluigi/homeButtonTransparent.png"> </a> </li>
                <li class="nav-item"><a class="nav-link" onclick="openMintEditorModal()"> <img src="../images/uShroom/editorSettings.svg"> </a> </li>
                <li class="nav-item"><a class="nav-link" onclick="saveMintEditorSession()"> <img src="../images/uShroom/saveEditorSession.svg"> </a> </li>
                <li class="nav-item"><a class="nav-link" onclick="refreshMintEditorSession()"> <img src="../images/uShroom/refreshEditorSession.svg"> </a> </li>
                <li class="nav-item"><a class="nav-link" onclick="saveUploadedLFR()"> <img src="../images/uShroom/saveUploadedLFR.svg"> </a> </li>
                <!--<li class="nav-item" id="place_and_route"><img  src="../images/uShroom/PlacenRoute.png"></li>-->
                <!--<button class="nav-item" id="SHANE_1" onclick="SHANE_1()"></button>-->
                <!--<button class="nav-item" id="SHANE_2" onclick="SHANE_2()"></button>-->
                <!--<button id="editor_settings_btn" onclick="openMintEditorModal();"></button>-->

            </ul>
=======
>>>>>>> Working File System!
        </div>

    </nav>

    <!-- UPLOAD BAR: UPLOAD LFR, UCF, MINT FILES -->
    <div id= "upload_bar" class="uploadbar" >

        <form id="uploadLFR"
              enctype="multipart/form-data"
              action="/api/LFR"
              method="post">

            <div id="div_LFR1">
                <input id= "input_verilog_file" class="inputButton_uShroom" type="file" name="myLFR" value="Browse LFR" />
            </div>
            <div id="div_LFR2">
                <input id="upload_verilog_file" class= "inputButton_uShroom" type="submit" value="Upload LFR File" name="submit_verilog">
                <span id = "statusVerilog"></span>
            </div>

        </form>

        <form id="uploadUCF"
              enctype="multipart/form-data"
              action="/api/UCF"
              method="post">

            <div id="div_UCF1">
                <input id= "input_UCF_file"  class="inputButton_uShroom" type="file" name="myUCF" value="Browse UCF" />
            </div>
            <div id="div_UCF2">
                <input id="upload_UCF_file" class= "inputButton_uShroom" type="submit" value="Upload UCF File" name="submit_UCF">
                <span id = "statusUCF"></span>
            </div>

        </form>

        <form id="uploadMINT"
              enctype="multipart/form-data"
              action="/api/MINT"
              method="post">

            <div id="div_MINT1">
                <input id= "input_MINT_file"  class="inputButton_uShroom" type="file" name="myMINT" value="Browse MINT" />
            </div>
            <div id="div_MINT2">
                <input id="upload_MINT_file" class= "inputButton_uShroom" type="submit" value="Upload MINT File" name="submit_MINT">
                <span id = "statusMINT"></span>
            </div>

        </form>
    </div>


    <!-- THE FOLLOWING CODE IS USED TO RENDER AND CONTROL THE EMBEDDED ACE EDITOR: -->
    <!-- BEGIN ACE EDITOR -->
    <div id="MINT_editor"></div> <!-- EDITOR DIV; EDITOR CONTENT GOES IN HERE-->
    <div id="mintEditorSettings_modal" class="modal" style="width: 500px; padding-left: 10px; padding-top: 150px;">

            <div class="modal-content">
                <div class="modal-header">
                    <h2>MINT Editor Settings</h2>
                </div>
                <div class="modal-body">
                    </br>
                    <p> MINT Editor. </br> Change the settings of your editor window here. </p>

                    Choose a theme:<br>
                    <select class = "theme_select" id = "theme_selectID">
                        <option> monokai </option>
                        <option> eclipse </option>
                        <option> github </option>
                        <option> clouds </option>
                        <option> chrome </option>
                        <option> twilight </option>
                    </select>
                    <br>
                    Syntax Highlighting:<br>
                    <select class="syntax_select" id="syntax_selectID">
                        <option> mint </option>
                        <option> javascript </option>
                        <option> LFR </option>
                        <option> UCF </option>
                    </select>
                    <br>
                    Font Family:
                    <select class="font_select" id="font_selectID">
                        <option> mint </option>
                        <option> javascript </option>
                        <option> LFR </option>
                        <option> UCF </option>
                    </select>
                    <br>
                    Font Size:
                    <select class="fontSize_select" id="fontSize_selectID">
                        <option> 6 </option>
                        <option> 8 </option>
                        <option> 10 </option>
                        <option> 12 </option>
                        <option> 14 </option>
                        <option> 16 </option>
                    </select>
                    <br>
                    <br>
                    <!--<input id="setTheme" type="text" ><br>-->
                    <!--Syntax highlighting: .ucf or .LFR:<br>-->
                    <!--<input id="setMode" type="text" ><br>-->
                    <!--Or, PWM value to apply:<br>-->
                    <!--<input id="MotorPositionAssignerDebug" type="text" ><br><br>-->
                    <!--<input class="operate_modal" type="submit" value="Change pump state" onclick="mediateValveState_fromDebugger(event)">-->
                    <input class="save_editorSettings" type="submit" value="Save and Apply" onclick="saveEditorChanges()">

                </div>
            <div class="modal-footer">
                <button class="close_modal" onclick="closeMintEditorModal()"> Close </button>
            </div>
        </div>

    </div>
    <script src="/ace-master/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script> var MINT_editor = ace.edit("MINT_editor"); MINT_editor.setTheme("ace/theme/twilight"); MINT_editor.getSession().setMode("ace/mode/javascript"); </script>
    <!-- END ACE EDITOR -->

    <!-- ENDGAME DEPENDENCIES HERE -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</body>



    <!-- AND, ENDGAME DEPENDENCIES HERE -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
    <script src="../javascripts/mint_editor_support.js" type="application/javascript"></script>
    <script type="text/javascript" src="../javascripts/initiate_mint_editor.js"></script>
    <script src="../javascripts/uploadBar_mm.js" type="application/javascript"></script>



</html>














<!--<script>-->
<!--{-->
<!--$(document).ready(function () {-->

<!--$('#uploadLFR').submit(function () {-->

<!--$(this).ajaxSubmit({-->

<!--error: function (xhr) {-->
<!--status('Error: ' + xhr.status);-->
<!--},-->
<!--success: function (response) {-->

<!--$.get('../uploads/myverilog.txt',function(data){-->
<!--localStorage.LFR_STRING = data;-->
<!--//                            var lines = data.split("\n");-->
<!--//                            var i = 0;-->
<!--//                            $.each(lines,function(n,elem) {-->
<!--//                                localStorage.LFR_STRING[i] = elem;-->
<!--//                                i++;-->
<!--//                            });-->
<!--});-->
<!--}-->
<!--});-->
<!--return false;-->
<!--});-->
<!--$('#uploadUCF').submit(function () {-->
<!--//$("#statusUCF").empty().text("File is uploading...");-->

<!--$(this).ajaxSubmit({-->

<!--error: function (xhr) {-->
<!--status('Error: ' + xhr.status);-->
<!--},-->
<!--success: function (response) {-->
<!--console.log(response);-->
<!--$("#statusUCF").empty().text(response);-->
<!--location.reload();-->
<!--}-->
<!--});-->
<!--return false;-->
<!--});-->
<!--});-->

<!--//        function saveUploadedLFR()-->
<!--//        {-->
<!--//            $.get('../uploads/myverilog.txt',function(data){-->
<!--//                var lines = data.split("\n");-->
<!--//                var i = 0;-->
<!--//                $.each(lines,function(n,elem) {-->
<!--//                    localStorage.LFR_STRING[i] = elem;-->
<!--//                    i++;-->
<!--//                });-->
<!--//            });-->
<!--//        }-->
<!--}-->
<!--</script>-->

<!--<script>-->
<!--UCF_uploaded = false;-->
<!--UCF_selected = false;-->
<!--verilog_uploaded = false;-->
<!--verilog_selected = false;-->
<!--</script>-->

<!--<script>-->
<!--function verilogSelected()-->
<!--{-->
<!--UCF_selected = true;-->
<!--}-->
<!--function UCFSelected()-->
<!--{-->
<!--verilog_selected = true;-->
<!--}-->
<!--function verilogUploaded()-->
<!--{-->
<!--UCF_uploaded = true;-->
<!--}-->
<!--function UCFUploaded()-->
<!--{-->
<!--verilog_uploaded = true;-->
<!--}-->
<!--</script>-->

<!--<script>-->
<!--function updateIndicators() {-->
<!--if (verilog_selected == false) {-->
<!--(document.getElementById('red_alert_verilog_selected')).setAttribute('style', 'visibility:visible');-->
<!--(document.getElementById('green_alert_verilog_selected')).setAttribute('style', 'visibility:hidden');-->
<!--}-->
<!--else {-->
<!--(document.getElementById('green_alert_verilog_selected')).setAttribute('style', 'visibility:visible');-->
<!--(document.getElementById('red_alert_verilog_selected')).setAttribute('style', 'visibility:hidden');-->
<!--}-->
<!--if (UCF_selected == false) {-->
<!--(document.getElementById('red_alert_UCF_selected')).setAttribute('style', 'visibility:visible');-->
<!--(document.getElementById('green_alert_UCF_selected')).setAttribute('style', 'visibility:hidden');-->
<!--}-->
<!--else {-->
<!--(document.getElementById('green_alert_UCF_selected')).setAttribute('style', 'visibility:visible');-->
<!--(document.getElementById('red_alert_UCF_selected')).setAttribute('style', 'visibility:hidden');-->
<!--}-->

<!--if (verilog_uploaded == false) {-->
<!--(document.getElementById('red_alert_verilog_uploaded')).setAttribute('style', 'visibility:visible');-->
<!--(document.getElementById('green_alert_verilog_uploaded')).setAttribute('style', 'visibility:hidden');-->
<!--}-->
<!--else {-->
<!--(document.getElementById('green_alert_verilog_uploaded')).setAttribute('style', 'visibility:visible');-->
<!--(document.getElementById('red_alert_verilog_uploaded')).setAttribute('style', 'visibility:hidden');-->
<!--}-->
<!--if (UCF_uploaded == false) {-->
<!--(document.getElementById('red_alert_UCF_uploaded')).setAttribute('style', 'visibility:visible');-->
<!--(document.getElementById('green_alert_UCF_uploaded')).setAttribute('style', 'visibility:hidden');-->
<!--}-->
<!--else {-->
<!--(document.getElementById('green_alert_UCF_uploaded')).setAttribute('style', 'visibility:visible');-->
<!--(document.getElementById('red_alert_UCF_uploaded')).setAttribute('style', 'visibility:hidden');-->
<!--}-->
<!--}-->
<!--</script>-->

<!--<div class="MINT_editor">-->
<!--<textarea id="MINT_editor_slot"></textarea>-->
<!--&lt;!&ndash; Create a simple CodeMirror instance &ndash;&gt;-->
<!--<script src="../codemirror/lib/codemirror.js"></script>-->
<!--<link rel="stylesheet" href="../codemirror/lib/codemirror.css">-->
<!--<script src="../codemirror/mode/javascript/javascript.js"></script>-->

<!--<script>-->
<!--myCodeMirror = CodeMirror.fromTextArea(document.getElementById("MINT_editor_slot"));-->
<!--</script>-->
<!--&lt;!&ndash;<script>&ndash;&gt;-->
<!--&lt;!&ndash;var myCodeMirror = CodeMirror(document.body, {&ndash;&gt;-->
<!--&lt;!&ndash;value: "function myScript(){return 100;}\n",&ndash;&gt;-->
<!--&lt;!&ndash;mode:  "javascript"&ndash;&gt;-->
<!--&lt;!&ndash;});&ndash;&gt;-->
<!--&lt;!&ndash;</script>&ndash;&gt;-->
<!--&lt;!&ndash;<script>&ndash;&gt;-->
<!--&lt;!&ndash;var editor = CodeMirror.fromTextArea(myTextarea, {&ndash;&gt;-->
<!--&lt;!&ndash;lineNumbers: true&ndash;&gt;-->
<!--&lt;!&ndash;});&ndash;&gt;-->
<!--&lt;!&ndash;</script>&ndash;&gt;-->
<!--</div>-->

<!--<div class="mintImage">-->
<!--<iframe id="image_frame"-->
<!--width="95%"-->
<!--height="90%"-->
<!--frameborder="0"-->
<!--scrolling="yes"-->
<!--marginheight="0"-->
<!--marginwidth="0"-->
<!--src="../uploads/myMINT.png">-->
<!--</iframe>-->
<!--</div>-->

<!--&lt;!&ndash;VERILOG SELECTED&ndash;&gt;-->
<!--<div id='green_alert_verilog_selected' style='visibility: hidden'>-->
<!--<img src="../images/uShroom/green_circle.gif" height="24" width="24"/>-->
<!--</div>-->
<!--<div id='red_alert_verilog_selected' style='visibility: hidden'>-->
<!--<img src="../images/uShroom/red_circle.svg" height="24" width="30"/>-->
<!--</div>-->

<!--&lt;!&ndash;VERILOG UPLOADED&ndash;&gt;-->
<!--<div id='green_alert_verilog_uploaded' style='visibility: hidden'>-->
<!--<img src="../images/uShroom/green_circle.gif" height="24" width="24"/>-->
<!--</div>-->
<!--<div id='red_alert_verilog_uploaded' style='visibility: hidden'>-->
<!--<img src="../images/uShroom/red_circle.svg" height="24" width="30"/>-->
<!--</div>-->

<!--&lt;!&ndash;UCF SELECTED&ndash;&gt;-->
<!--<div id='green_alert_UCF_selected' style='visibility: hidden'>-->
<!--<img src="../images/uShroom/green_circle.gif" height="24" width="24"/>-->
<!--</div>-->
<!--<div id='red_alert_UCF_selected' style='visibility: hidden'>-->
<!--<img src="../images/uShroom/red_circle.svg" height="24" width="30"/>-->
<!--</div>-->

<!--&lt;!&ndash;UCF UPLOADED&ndash;&gt;-->
<!--<div id='green_alert_UCF_uploaded' style='visibility: hidden'>-->
<!--<img src="../images/uShroom/green_circle.gif" height="24" width="24"/>-->
<!--</div>-->
<!--<div id='red_alert_UCF_uploaded' style='visibility: hidden'>-->
<!--<img src="../images/uShroom/red_circle.svg" height="24" width="30"/>-->
<!--</div>-->

