
/*HTML and Body*/
html, body, canvas {
    margin: 0;

    padding: 0;
    background-color: #34495e;
}

body {
    background-color: #34495e;
}

/*Buttons*/
.centered {
    position: fixed;
    top: 35%;
    left: 50%;
    margin-top: -60px;
    margin-left: -254px;
}

.fluigiPage {
    background-color: #34495e;
}

.inputButton {

    height: 30px;
    border: 2px solid dodgerblue;
    border-radius: 4px;
}

.myBtn {

    vertical-align: center;
    horizontal-align: middle;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
    height: 90px;
    background-color: #3498db;
    border-color: #3498db;

}

.rightBottom {
    position: fixed;
    top: 75%;
    left: 70%;
}

.rightCenter {
    position: fixed;
    top: 75%;
    left: 70%;
    margin-top: -115px;
}

ul {
    list-style-type: none;
}

.uploadbar {
    position:absolute;
    top: 90px;
    width: 100%;
    padding-left: 25%;
    padding-top: 20px;
    height: 130px;
    background-color: white;
}

/*Divisions*/
#container {
    position: relative;
}

#div1 {
    width: 400px;
    display: inline-block;
}

#div2 {
    display: inline-block;
    width: 400px;
}

/*#valve-container {*/
    /*top: 200px;*/
    /*left: 0px;*/
    /*position: absolute;*/
    /*width: 100%;*/
/*}*/