
/*HTML and Body*/
html, body {
    margin: 0;
    padding: 0;
    /*background-image:url(../images/index/backgroundImg.png);*/
    background-color: #34495e;
}


body {
    /*background-color: #34495e;*/
}


canvas {
    margin-top: 220px;
}

/*Buttons*/
.centeredTop {
    position: fixed;
    top: 30%;
    left: 50%;
    margin-top: -60px;
    margin-left: -254px;
}

.centeredBottom {
    position: fixed;
    top: 58%;
    left: 45%;
    margin-top: -60px;
    margin-left: -254px;
}

.clear_button{
    float: right;
}

/*Divisions*/
#container {
    position: relative;
}

#div1 {
    float: left;
    display: inline-block;
    padding-left: 50px;
}

#div2 {
    display: inline-block;
    float: left;
    padding-left: 300px;
}

#div3 {
    float: left;
    display: inline-block;
}

#div4 {
    display: inline-block;
    float: left;
}

.topBar {
    padding-left: 0px;
    background: white;
    width: 100%;
    height: 100px;

}

/*.actuators {*/
    /*position: fixed;*/
    /*top: 150px;*/
    /*left: 10px;*/
    /*width: 300px;*/
    /*height: 150px;*/
    /*border: inset;*/
    /*padding-left: 30px;*/
    /*background-color: lightskyblue;*/
/*}*/

.fluigiPage {
    /*background-color: #34495e;*/
}
.inputButton {
    outline-style: none;
    height: 25px;
    border: 2px solid dodgerblue;
    border-radius: 4px;
    background: white;
}

.myBtn {

    vertical-align: center;
    horizontal-align: middle;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
    height: 90px;
    background-color: #3498db;
    border-color: #3498db;

}

.mushroomHelp {
    position: fixed;
    top: 25%;
    left: 60%;
}

.fluigiHelp {
    position: fixed;
    top: 55%;
    left: 65%;
}

.rightBottom {
    position: fixed;

    top: 370px;
    left: 75%;
}

.rightCenter {
    position: fixed;
    top: 470px;
    left: 75%;
}

.serialBox {
    border-color: white;
    border: double;
}

ul {
    list-style-type: none;
}

.uploadbar {
    position:absolute;
    top: 90px;
    width: 100%;
    padding-left: 100px;
    padding-top: 10px;
    height: 45px;
    background-color: white;
}

#container {
    position: relative;
}

#div1 {
    display: inline-block;
}

#div2 {
    display: inline-block;
}

/* START DEBUGGER CSS*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal_button{
    float:left;
    top: 50%;
}
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* The Close Button */
.close_modal {
    background-color: #7fb0ff;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.operate_modal {
    background-color: #7fb0ff;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
}

.close:hover,

.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* END DEBUGGER CSS*/