

html, body, canvas {
    margin: 0;

    padding: 0;
    background-color: #34495e;
}
body {
    background-color: #34495e;
}

.centered {
    position: fixed;
    top: 35%;
    left: 50%;
    margin-top: -60px;
    margin-left: -254px;
}
#div1{
    width: 400px;
    display: inline-block;
}

#div2{
    display: inline-block;
    width: 400px;
}


.fluigi_page {
    background-color: #34495e;
}

.inputbutton {

    height: 30px;
    border: 2px solid dodgerblue;
    border-radius: 4px;
}

.My_btn {

    vertical-align: center;
    horizontal-align: middle;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
    height: 90px;
    background-color: #3498db;
    border-color: #3498db;

}


.right-bottom {
    position: fixed;
    top: 75%;
    left: 70%;
}
.right-center {
    position: fixed;
    top: 75%;
    left: 70%;
    margin-top: -115px;

}

#top-bar{
    width: 100px;
    background-color: whitesmoke;
    overflow: hidden;
}

ul {
    list-style-type: none;
}

.up-down {
    position: absolute;
    padding-top: 10px;
    left: 50%;
}

.uploadbar {
    position:absolute;
    top: 90px;
    width: 100%;
    padding-left: 25%;
    padding-top: 20px;
    height: 130px;
    background-color: white;
    /*border-color: #3498db;*/
}









#container {
    position: relative;
}

/*#valve-container {*/
    /*top: 200px;*/
    /*left: 0px;*/
    /*position: absolute;*/
    /*width: 100%;*/
/*}*/