<!DOCTYPE html>
<html lang="en" class="home_page">
<head>

    <link rel="stylesheet" type="text/css" href="../stylesheets/main.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

</head>


<body style="background-image:url(../images/index/background_img.png); background-color: #34495e">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">


<ul>
    <li> <a class="centered" href="html/newPage.html"><img src="../images/index/luigiButtonHover.png"
                                                           onmouseover="this.src='resources/HOME/FluigiButton.png'" onmouseout="this.src='resources/HOME/FluigiButtonHover.png'"> </a> </li>
    <li> <!-- Trigger the modal with a button -->
        <a class="right-bottom"><img class="My_btn" data-toggle="modal" data-target="#HelpModal" src="resources/HOME/Help_button_transparent.png"
                                     onmouseover="this.src='resources/HOME/Help_button.png'" onmouseout="this.src='resources/HOME/Help_button_transparent.png'"> </a>
    </li>
    <li>
        <a class="right-center" href="http://cidarlab.org/Fluigi"><img class="My_btn" src="resources/HOME/About_button_transparent.png"
                                                                       onmouseover="this.src='resources/HOME/About_button.png'" onmouseout="this.src='resources/HOME/About_button_transparent.png'"></a>
    </li>


</ul>








<!-- Modal -->
<div id="HelpModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Hi there! Have some questions?</h4>
            </div>
            <div class="modal-body">

                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>






<!-- LEAVE JS FOR LAST - faster loading time -->
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</body>



</html>