<html>
<head>
    <title> {{title}} </title>
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <script src="../javascripts/serialcommunication.js"></script>
</head>

<body>

<button id="begin-comm"> Begin Communication</button>



</body>
</html>