.navbar {

    padding-top: 0px;
    padding-bottom: 0px;
    height: 90px;
    background-color: #3498db;
    border-color: #3498db;
}

.My_btn {
    vertical-align: center;
    horizontal-align: middle;
    padding-top: 20px;
    padding-bottom: 20px;
}

.fluigi_page {
    background-color: #34495e;
}

ul {
    list-style-type: none;
}

.centered {
    position: fixed;
    top: 35%;
    left: 50%;
    margin-top: -60px;
    margin-left: -254px;
}

.right-bottom {
    position: fixed;
    top: 75%;
    left: 70%;
}

.right-center {
    position: fixed;
    top: 75%;
    left: 70%;
    margin-top: -115px;
}

.SVGgraph {
    hspace: 200px;
}

.GreenDot {
    position: absolute;
    left: 113px;
    top: 116px;

}

.valve_circle {
lineWidth: 3;
strokeStyle: '#003300';
stroke();

}